@model IEnumerable<PrintMoldViewModel>
@{
    string CurrentController = ConstController.PrintMold;

    string CurrentArea = ConstArea.MasterData;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            @*<th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>*@
            <th class="text-center">@Html.DisplayNameFor(p => p.PrintMoldIntId)</th>
            <th>@Html.DisplayNameFor(p => p.PrintMoldType)</th>
            <th>@Html.DisplayNameFor(p => p.PrintMoldCode)</th>
            <th>@Html.DisplayNameFor(p => p.PrintMoldName)</th>
            <th>@Html.DisplayNameFor(p => p.ProfileName)</th>
            <th>@Html.DisplayNameFor(p => p.ProductName)</th>
            <th>@Html.DisplayNameFor(p => p.Specifications_Length)</th>
            <th>@Html.DisplayNameFor(p => p.Specifications_Width)</th>
            <th>@Html.DisplayNameFor(p => p.Specifications_Height)</th>
            <th>@Html.DisplayNameFor(p => p.Specifications_Overalls)</th>
            <th>@Html.DisplayNameFor(p => p.Specifications_Side)</th>
            <th>@Html.DisplayNameFor(p => p.ProductPerMold)</th>
            <th>@Html.DisplayNameFor(p => p.PrintMoldFilm)</th>
            <th>@Html.DisplayNameFor(p => p.PrintMoldDate)</th>
            <th>@Html.DisplayNameFor(p => p.Bin)</th>
            <th>@Html.DisplayNameFor(p => p.LocationNote)</th>
            <th>@Html.DisplayNameFor(p => p.Status)</th>
            <th>@Html.DisplayNameFor(p => p.LastMaintenanceDate)</th>
            <th>@Html.DisplayNameFor(p => p.MaintenanceAlert)</th>
            <th>@Html.DisplayNameFor(p => p.StampQuantity)</th>
            <th>@Html.DisplayNameFor(p => p.CurrentStampeQuantity)</th>
            <th>@Html.DisplayNameFor(p => p.StampQuantityAlert)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    i++;
                    <tr>
                        @*<td class="text-center">@i</td>*@
                        <td class="text-center">@Html.DisplayFor(p => item.PrintMoldIntId)</td>
                        <td>@Html.DisplayFor(p => item.PrintMoldType)</td>
                        <td class=" text-center"><a href="~/MasterData/PrintMold/Edit/@item.PrintMoldId">@Html.DisplayFor(p => item.PrintMoldCode)</a></td>
                        <td>@Html.DisplayFor(p => item.PrintMoldName)</td>
                        <td>@Html.DisplayFor(p => item.ProfileName)</td>
                        <td>@Html.DisplayFor(p => item.ProductName)</td>
                        <td>@Html.DisplayFor(p => item.Specifications_Length)</td>
                        <td>@Html.DisplayFor(p => item.Specifications_Width)</td>
                        <td>@Html.DisplayFor(p => item.Specifications_Height)</td>
                        <td>@Html.DisplayFor(p => item.Specifications_Overalls)</td>
                        <td>@Html.DisplayFor(p => item.Specifications_Side)</td>
                        <td>@Html.DisplayFor(p => item.ProductPerMold)</td>
                        <td>@Html.DisplayFor(p => item.PrintMoldFilm)</td>
                        <td>@Html.DisplayFor(p => item.PrintMoldDate)</td>
                        <td>@Html.DisplayFor(p => item.Bin)</td>
                        <td>@Html.DisplayFor(p => item.LocationNote)</td>
                        <td>@Html.DisplayFor(p => item.Status)</td>
                        <td>@Html.DisplayFor(p => item.LastMaintenanceDate)</td>
                        <td>@Html.DisplayFor(p => item.MaintenanceAlert)</td>
                        <td>@Html.DisplayFor(p => item.StampQuantity)</td>
                        <td>@Html.DisplayFor(p => item.CurrentStampeQuantity)</td>
                        <td>@Html.DisplayFor(p => item.StampQuantityAlert)</td>
                        <td>@Html.DisplayFor(p => item.Description)</td>

                        <td class="text-center">
                            @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.PrintMoldId)
                            @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.PrintMoldName, item.PrintMoldId)
                        </td>
                    </tr>
                }
            }

        }

    </tbody>
    <tfoot></tfoot>
</table>


