@model  DivisionOfTaskViewModel
@{
    string CurrentArea = ConstArea.Work;
    string CurrentController = ConstController.ProductionOrder;
}
<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.Summary)</th>
            <th>@Html.DisplayNameFor(p => p.StartDate)</th>
            <th>@Html.DisplayNameFor(p => p.EstimateEndDate)</th>
            <th>@Html.DisplayName(LanguageResource.Task_RemindTime)</th>
            <th>@Html.DisplayName(LanguageResource.Status)</th>
            <th>@Html.DisplayNameFor(p => p.Qty)</th>
            <th>@Html.DisplayName("SL NVL YC")</th>
            @*<th>@Html.DisplayName(LanguageResource.Actions)</th>*@

        </tr>
    </thead>
    <tbody>
        @{ int i;}
        @for (i = 0; i < ViewBag.Qty; i++)
        {
            @Html.Hidden("createSubTaskViewModels[" + i + "].WorkFlowId", new { @class = "form-control work-flow-id" })
            <tr class="detail-product-order">
                <td class="text-center">@(i+1)</td>
                <td>@Html.TextBoxFor(p => p.Summary, null, new { Name = "createSubTaskViewModels[" + i + "].Summary", @id = "summary-" + i, @class = "form-control" })</td>
                <td> @Html.TextBoxFor(p => p.StartDate, null, new { Name = "createSubTaskViewModels[" + i + "].StartDate", type = "date", @id = "start-date-" + i, @class = "form-control" })</td>
                <td> @Html.TextBoxFor(p => p.EstimateEndDate, null, new { Name = "createSubTaskViewModels[" + i + "].EstimateEndDate", type = "date", @id = "estimate-end-date-" + i, @class = "form-control" })</td>
                <td class="text-center">
                </td>
                <td class="task-status-name" id="task-status-name-@i">
                    @Html.RequiredDropDownListFor(p => p.TaskStatusId, (IEnumerable<SelectListItem>)ViewBag.TaskStatusIdList, null, new { Name = "createSubTaskViewModels[" + i + "].TaskStatusId", @class = "form-control with-search", id = "task-status-id-" + i })
                </td>
                <td>@Html.TextBoxFor(p => p.Qty, null, new { Name = "createSubTaskViewModels[" + i + "].Qty", @id = "ct-phan-bo-" + i, type = "number", @class = "form-control sl-phan-bo ct-phan-bo" })</td>
                <td class="sl-nvl-yc" id="sl-nvl-yc-@i"> </td>
            </tr>
        }
    </tbody>
    </table>
