@*@model List<DivisionOfTaskViewModel>*@
@model List<DivisionOfTaskByLSXDTViewModel>
@{
    var TaskStatusList = (IEnumerable<SelectListItem>)ViewBag.TaskStatusList;
}

@if (Model != null && Model.Count() > 0)
{
    //index đợt
    int i = -1;
    //index LSX SAP
    int j = 0, k = -1;
    foreach (var item in Model)
    {
        i++;
        <div class="detail-production-order">
            <div class="solid-primary border-box">
                <!--Thông tin đợt-->
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">Đợt</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="DotSXList[@i].DotName" id="DotSXList_DotName_@i" value="@item.DotName" class="form-control dot-name" />
                                <input type="hidden" name="DotSXList[@i].DotId" id="DotSXList_DotId_@i" value="@item.DotId" class="dot-id" />
                                <input type="hidden" name="DotSXList[@i].STTDot" id="DotSXList_STTDot_@i" value="@item.STTDot" class="stt-dot" />
                                <input type="hidden" name="DotSXList[@i].Property3" id="DotSXList_Property3_@i" value="@item.Property3" class="dot-property3" />
                                <input type="hidden" name="DotSXList[@i].Property4" id="DotSXList_Property4_@i" value="@item.Property4" class="dot-property4" />
                                <input type="hidden" name="DotSXList[@i].Property5" id="DotSXList_Property5_@i" value="@item.Property5" class="dot-property5" />
                                @*<input type="hidden" name="DotSXList[@i].Property7" id="DotSXList_Property7_@i" value="@item.Property7" class="dot-property7-value" data-row="@i" />*@
                                <input type="hidden" name="DotSXList[@i].Property8" id="DotSXList_Property8_@i" value="@item.Property8" class="dot-property8" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">Nhân sự phụ trách TDSX + XH</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="DotSXList[@i].Property6" id="DotSXList_Property6_@i" value="@item.Property6" class="form-control dot-property6" />
                            </div>
                        </div>

                        @*<div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">Công đoạn thực hiện</label></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("StepList", null, null, new { @Class = "form-control with-search dot-property7", @Id = "DotSXList_StepList_" + i, @Name = "DotSXList[" + i + "].StepList", @Multiple = "multiple" })
                            </div>
                        </div>*@


                        <!--Thông tin ngày giao hàng điều chỉnh theo đợt-->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <div class="col-md-6">
                                        <div class="label-wrapper">
                                            <div class="label-wrapper"><label class="control-label">Ngày giao hàng điều chỉnh</label></div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @{ string GHDC = string.Empty; }
                                        @if (item.Date9.HasValue)
                                        {
                                            GHDC = item.Date9.Value.ToString("yyyy-MM-dd");
                                        }
                                        <input type="date" name="DotSXList[@i].Date9" id="DotSXList_Date9_@i" value="@GHDC" class="form-control dot-date9" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
            <div class="col-md-6">
                <div class="label-wrapper">
                    <div class="label-wrapper"><label class="control-label">Nhân sự cấp phát NVL</label></div>

                </div>
            </div>
            <div class="col-md-6">
                <input type="text" name="DotSXList[@i].Property7" id="DotSXList_Property7_@i" value="@item.Property7" class="form-control dot-property7" />
            </div>
        </div>*@
                    </div>
                </div>

                <!--Thông tin ngày dự kiến của 4 công đoạn lớn-->
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">BĐ Sơ chế DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string BDSCDK = string.Empty; }
                                @if (item.Date1.HasValue)
                                {
                                    BDSCDK = item.Date1.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date1" id="DotSXList_Date1_@i" value="@BDSCDK" class="form-control dot-date1" />
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">BĐ Tinh chế DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string BDTCDK = string.Empty; }
                                @if (item.Date3.HasValue)
                                {
                                    BDTCDK = item.Date3.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date3" id="DotSXList_Date3_@i" value="@BDTCDK" class="form-control dot-date3" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">BĐ Lắp ráp-Hoàn thiện DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string BDLRHTDK = string.Empty; }
                                @if (item.Date5.HasValue)
                                {
                                    BDLRHTDK = item.Date5.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date5" id="DotSXList_Date5_@i" value="@BDLRHTDK" class="form-control dot-date5" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">BĐ Hoàn thiện-Đóng gói DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string BDHTDGDK = string.Empty; }
                                @if (item.Date7.HasValue)
                                {
                                    BDHTDGDK = item.Date7.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date7" id="DotSXList_Date7_@i" value="@BDHTDGDK" class="form-control dot-date7" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">KT Sơ chế DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string KTSCDK = string.Empty; }
                                @if (item.Date2.HasValue)
                                {
                                    KTSCDK = item.Date2.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date2" id="DotSXList_Date2_@i" value="@KTSCDK" class="form-control dot-date2" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">KT Tinh chế DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string KTTCDK = string.Empty; }
                                @if (item.Date4.HasValue)
                                {
                                    KTTCDK = item.Date4.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date4" id="DotSXList_Date4_@i" value="@KTTCDK" class="form-control dot-date4" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">KT Lắp ráp-Hoàn thiện DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string KTLRHTDK = string.Empty; }
                                @if (item.Date6.HasValue)
                                {
                                    KTLRHTDK = item.Date6.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date6" id="DotSXList_Date6_@i" value="@KTLRHTDK" class="form-control dot-date6" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-6">
                                <div class="label-wrapper">
                                    <div class="label-wrapper"><label class="control-label">KT Hoàn thiện-Đóng gói DK</label></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                @{ string KTHTDGDK = string.Empty; }
                                @if (item.Date8.HasValue)
                                {
                                    KTHTDGDK = item.Date8.Value.ToString("yyyy-MM-dd");
                                }
                                <input type="date" name="DotSXList[@i].Date8" id="DotSXList_Date8_@i" value="@KTHTDGDK" class="form-control dot-date8" />
                            </div>
                        </div>

                    </div>
                </div>

                <!--Danh sách LSX SAP-->
                @if (item.LSXSAPList != null && item.LSXSAPList.Count > 0)
                {
                    <div class="lsxsap-dot" id="lsxsap-dot-@i">
                        <table class="table table-bordered table-striped table-hover no-footer">
                            <thead class="isd-table-header">
                                <tr>
                                    <th class="text-center">@LanguageResource.NumberIndex</th>
                                    <th>LSX SAP</th>
                                    <th class="text-center">BĐ Dự kiến</th>

                                    <th class="text-center">BĐ Điều chỉnh </th>

                                    <th class="text-center">KT Dự kiến</th>
                                    <th class="text-center">KT Điều chỉnh</th>

                                    <th class="text-right">Thời gian</th>
                                    <th>SL KH</th>
                                    <th>SL ĐC</th>
                                    <th>Trạng thái</th>
                                    <th>SL NVL YC</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int l = 0;}
                                @foreach (var itemChildren in item.LSXSAPList)
                                {
                                    l++;
                                    j++;
                                    k++;
                                    <tr class="DetailProductOrder">
                                        <td class="text-center">
                                            <input type="hidden" name="LSXSAPList[@k].STTDot" id="LSXSAPList_STTDot_@k" value="@itemChildren.STTDot" class="stt-dot-con" />
                                            <input type="hidden" name="LSXSAPList[@k].LSXSAPId" id="LSXSAPList_LSXSAPId_@k" value="@itemChildren.LSXSAPId" class="lsxsap-id" />
                                            <input type="hidden" name="LSXSAPList[@k].Property1" id="LSXSAPList_Property1_@k" value="@itemChildren.Property1" class="lsxsap-property1" />
                                            <input type="hidden" name="LSXSAPList[@k].Property2" id="LSXSAPList_Property2_@k" value="@itemChildren.Property2" class="lsxsap-property2" />
                                            <input type="hidden" name="LSXSAPList[@k].Property3" id="LSXSAPList_Property3_@k" value="@itemChildren.Property3" class="lsxsap-property3" />
                                            <input type="hidden" name="LSXSAPList[@k].Property4" id="LSXSAPList_Property4_@k" value="@itemChildren.Property4" class="lsxsap-property4" />
                                            <input type="hidden" name="LSXSAPList[@k].Property5" id="LSXSAPList_Property5_@k" value="@itemChildren.Property5" class="lsxsap-property5" />
                                            <input type="hidden" name="LSXSAPList[@k].ProductId" id="LSXSAPList_ProductId_@k" value="@itemChildren.ProductId" class="lsxsap-product-id" />
                                            <input type="hidden" name="LSXSAPList[@k].Unit" id="LSXSAPList_Unit_@k" value="@itemChildren.Unit" class="lsxsap-unit" />
                                            @l
                                        </td>
                                        <td>
                                            @*@itemChildren.LSXSAP*@
                                            <input type="text" class="form-control lsxsap-name" name="LSXSAPList[@k].LSXSAP" id="LSXSAPList_LSXSAP_@k" value="@itemChildren.LSXSAP" readonly />
                                        </td>
                                        <td class="text-center">
                                            @{ string BDDK = string.Empty; }
                                            @if (itemChildren.StartDate.HasValue)
                                            {
                                                BDDK = itemChildren.StartDate.Value.ToString("yyyy-MM-dd");
                                            }
                                            <input type="date" class="form-control lsxsap-start-date" name="LSXSAPList[@k].StartDate" id="LSXSAPList_StartDate_@k" value="@BDDK" readonly />
                                        </td>
                                        <td class="text-center" style="display:flex;">
                                            @{ string BDDC = string.Empty; }
                                            @if (itemChildren.Date1.HasValue)
                                            {
                                                BDDC = itemChildren.Date1.Value.ToString("yyyy-MM-dd");
                                            }
                                            <input type="date" class="form-control lsxsap-date1" name="LSXSAPList[@k].Date1" id="LSXSAPList_Date1_@k" value="@BDDC" />
                                            @if (l == 1)
                                            {
                                                @*<input type="checkbox" name="CopyBDDC_@i" class="copy-bddc" data-row="@i" />*@
                                                <a class="btn btn-primary copy-bddc" data-row="@i" style="padding-top: inherit; ">
                                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @{ string KTDK = string.Empty; }
                                            @if (itemChildren.EstimateEndDate.HasValue)
                                            {
                                                KTDK = itemChildren.EstimateEndDate.Value.ToString("yyyy-MM-dd");
                                            }
                                            <input type="date" class="form-control lsxsap-estimate-end-date" name="LSXSAPList[@k].EstimateEndDate" id="LSXSAPList_EstimateEndDate_@k" value="@KTDK" readonly />
                                        </td>
                                        <td class="text-center" style="display: flex;">
                                            @{ string KTDC = string.Empty; }
                                            @if (itemChildren.ReceiveDate.HasValue)
                                            {
                                                KTDC = itemChildren.ReceiveDate.Value.ToString("yyyy-MM-dd");
                                            }
                                            <input type="date" class="form-control lsxsap-receivedate" name="LSXSAPList[@k].ReceiveDate" id="LSXSAPList_ReceiveDate_@k" value="@KTDC" />
                                            @if (l == 1)
                                            {
                                                @*<input type="checkbox" name="DotSXList[@i].CopyKTDC" class="copy-ktdc" data-row="@i" />*@
                                                <a class="btn btn-primary copy-ktdc" data-row="@i" style="padding-top: inherit; ">
                                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </td>
                                        <td class="text-right">
                                            @itemChildren.Duration
                                        </td>
                                        <td>
                                            <input type="text" class="form-control lsxsap-qty" name="LSXSAPList[@k].Qty" id="LSXSAPList_Qty_@k" value="@itemChildren.Qty" readonly />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control lsxsap-number2" name="LSXSAPList[@k].Number2" id="LSXSAPList_Number2_@k" value="@itemChildren.Number2" />
                                        </td>
                                        <td>
                                            <select Name="LSXSAPList[@k].TaskStatusId" class="form-control with-search lsxsap-task-status-id" id="task-status-id-@k">
                                                <option value="@itemChildren.TaskStatusId">@itemChildren.TaskStatusName</option>
                                                @foreach (var status in TaskStatusList)
                                                {
                                                    if (itemChildren.TaskStatusId != Guid.Parse(status.Value))
                                                    {
                                                        <option value="@status.Value">@status.Text</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control lsxsap-sl-nvl-yc" name="LSXSAPList[@k].SL_NVL_YC" id="LSXSAPList_SL_NVL_YC_@k" value="@itemChildren.SL_NVL_YC" readonly />
                                        </td>
                                    </tr>

                                }
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                }
            </div>
        </div>
    }
}


@*@if (Model != null && Model.Count() > 0)
    {
        <table class="table table-bordered table-striped table-hover dataTable no-footer">
            <thead class="isd-table-header">
                <tr>
                    <th class="text-center">@LanguageResource.NumberIndex</th>
                    <th>@Html.DisplayName(LanguageResource.BatchCode)</th>
                    <th>@Html.DisplayName(LanguageResource.Task_StartDate)</th>
                    <th>@Html.DisplayName(LanguageResource.Task_EstimateEndDate)</th>
                    <th>@Html.DisplayName(LanguageResource.Duration)</th>
                    <th>@Html.DisplayName(LanguageResource.Status)</th>
                    <th>@Html.DisplayName(LanguageResource.NumberOfPlans)</th>
                    <th>@Html.DisplayName(LanguageResource.AmountOfMaterialsRequired)</th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    <tr class="DetailProductOrder">
                        @Html.Hidden("createSubTaskViewModels[" + i + "].WorkFlowId", item.WorkFlowId)

                        <td class="text-center">
                            @(i+1)@Html.Hidden("createSubTaskViewModels[" + i + "].TaskId", item.TaskId, new { @id = "task-id-" + i })
                        </td>
                        <td>@Html.TextBox("createSubTaskViewModels[" + i + "].Summary", item.Summary, new { @id = "summary-" + i, @class = "form-control" })</td>
                        <td> @Html.TextBox("createSubTaskViewModels[" + i + "].StartDate", item.StartDate != null ? item.StartDate.Value.ToString("yyyy-MM-dd") : "", new { type = "date", @id = "start-date-" + i, @class = "form-control" })</td>
                        <td> @Html.TextBox("createSubTaskViewModels[" + i + "].EstimateEndDate", item.EstimateEndDate != null ? item.EstimateEndDate.Value.ToString("yyyy-MM-dd") : "", new { type = "date", @id = "estimate-end-date-" + i, @class = "form-control" })</td>
                        <td class="text-center">
                            @(item.EstimateEndDate != null && item.StartDate != null ? (item.EstimateEndDate - item.StartDate).Value.TotalDays : 0)
                        </td>
                        <td>
                            <select Name="createSubTaskViewModels[@i].TaskStatusId" class="form-control with-search" id="task-status-id-@i">
                                <option value="@item.TaskStatusId">@item.TaskStatusName</option>
                                @foreach (var status in TaskStatusList)
                                {
                                    if (item.TaskStatusId != Guid.Parse(status.Value))
                                    {
                                        <option value="@status.Value">@status.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>@Html.TextBox("createSubTaskViewModels[" + i + "].Qty", item.Qty, new { @id = "ct-phan-bo-" + i, type = "number", @class = "sl-phan-bo ct-phan-bo form-control" })</td>
                        <td></td>
                    </tr>
                    i++;
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    }*@
