@model IEnumerable<SO80ScheduleLineViewModel>

<table class="table table-bordered table-striped table-hover dataTable  no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">No.</th>
            <!-- Schedule line -->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ETENR)</th>
            <!-- Item is relevant for delivery -->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().LFREL)</th>
            <!-- Schedule line date-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().EDATU)</th>
            <!-- Order Quantity in Sales Units -->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().WMENG)</th>
            <!--Confirmed Quantity -->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().BMENG)</th>
            <!--Sales unit -->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().VRKME)</th>
            <!--Required quantity for mat.management in stockkeeping units-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().LMENG)</th>
            <!--Base Unit of Measure-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().MEINS)</th>
            <!--Schedule Line Blocked for Delivery-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().LIFSP)</th>
            <!--Delivered Quantity-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().DLVQTY_BU)</th>
            <!--Delivered Quantity-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().DLVQTY_SU)</th>
            <!--Open Confirmed Delivery Quantity-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().OCDQTY_BU)</th>
            <!--Open Confirmed Delivery Quantity-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().OCDQTY_SU)</th>
            <!--Open requested Delivery Quantity-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ORDQTY_BU)</th>
            <!--Open requested Delivery Quantity-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ORDQTY_SU)</th>
            <!--Delivery Creation Date-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().CREA_DLVDATE)</th>
            <!--Schedule line date-->
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().REQ_DLVDATE)</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var detail in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => detail.ETENR)</td>
                <td>@Html.DisplayFor(p => detail.LFREL)</td>
                <td>@Html.DisplayFor(p => detail.EDATU)</td>
                <td>@Html.DisplayFor(p => detail.WMENG)</td>
                <td>@Html.DisplayFor(p => detail.BMENG)</td>
                <td>@Html.DisplayFor(p => detail.VRKME)</td>
                <td>@Html.DisplayFor(p => detail.LMENG)</td>
                <td>@Html.DisplayFor(p => detail.MEINS)</td>
                <td>@Html.DisplayFor(p => detail.LIFSP)</td>
                <td>@Html.DisplayFor(p => detail.DLVQTY_BU)</td>
                <td>@Html.DisplayFor(p => detail.DLVQTY_SU)</td>
                <td>@Html.DisplayFor(p => detail.OCDQTY_BU)</td>
                <td>@Html.DisplayFor(p => detail.OCDQTY_SU)</td>
                <td>@Html.DisplayFor(p => detail.ORDQTY_BU)</td>
                <td>@Html.DisplayFor(p => detail.ORDQTY_SU)</td>
                <td>@Html.DisplayFor(p => detail.CREA_DLVDATE)</td>
                <td>@Html.DisplayFor(p => detail.REQ_DLVDATE)</td>
            </tr>
        }
    </tbody>
</table>