@model TaskSearchViewModel
@if (ViewBag.Type == ConstWorkFlowCategory.TICKET_MLC)
{
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="divSearchResult">
                        <table class="table table-bordered table-striped table-hover dataTableServerSide taskTable no-footer">
                            <thead class="isd-table-header">
                                <tr>
                                    <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                                    <th>@LanguageResource.ID</th>
                                    <th>@LanguageResource.MasterData_Customer</th>
                                    <th>@LanguageResource.Profile_Address</th>
                                    <th>@LanguageResource.Profile_Phone</th>
                                    @*<th>@Html.DisplayNameFor(p => p.Summary)</th>*@
                                    <th>@Html.DisplayNameFor(p => p.Description)</th>
                                    <th>@Html.DisplayNameFor(p => p.WorkFlowId)</th>
                                    <th>@Html.DisplayNameFor(p => p.TaskStatusCode)</th>
                                    <th>@LanguageResource.TaskResult</th>
                                    @*<th>@Html.DisplayNameFor(p => p.PriorityCode)</th>
                                        <th>@Html.DisplayNameFor(p => p.VisitAddress)</th>
                                        <th>@LanguageResource.Customer_CustomerCode</th>
                                        <th>@LanguageResource.Profile_ProfileForeignCode</th>
                                        <th>@LanguageResource.Reporter</th>*@
                                    <th>@LanguageResource.Assignee</th>
                                    <th>@LanguageResource.Task_StartDate</th>
                                    @*<th>@LanguageResource.Task_EstimateEndDate</th>*@
                                    <th>@LanguageResource.Task_EndDate</th>
                                    <th>@LanguageResource.CreateBy</th>
                                    <th>@LanguageResource.CreatedDate</th>
                                    <th class="text-center">@LanguageResource.Actions</th>
                                    <th class="hidden"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="divSearchResult">
                        <table class="table table-bordered table-striped table-hover dataTableServerSide taskTable no-footer">
                            <thead class="isd-table-header">
                                <tr>
                                    <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                                    <th>@LanguageResource.ID</th>
                                    <th>@Html.DisplayNameFor(p => p.PriorityCode)</th>
                                    <th>@LanguageResource.MasterData_Customer</th>
                                    <th>@Html.DisplayNameFor(p => p.Property1)</th>
                                    <th>@Html.DisplayNameFor(p => p.Date1)</th>
                                    <th>@Html.DisplayNameFor(p => p.Property2)</th>
                                    @*<th>
            @if (ViewBag.Type == ConstWorkFlow.LSXD)
            {
                @LanguageResource.MES_Summary_DSX

            }
            else if (ViewBag.Type == ConstWorkFlow.LSXC)
            {
                @LanguageResource.MES_Summary_LSXSAP
            }
            else
            {
                @Html.DisplayNameFor(p => p.Summary)
            }
        </th>*@
                                    <th>@Html.DisplayNameFor(p => p.LSXSAP)</th>
                                    <th>@Html.DisplayNameFor(p => p.DSX)</th>
                                    <th>@Html.DisplayNameFor(p => p.LSXDTSAP)</th>
                                    <th>@Html.DisplayNameFor(p => p.LSXDT)</th>
                                    <th>@Html.DisplayNameFor(p => p.Description)</th>
                                    <th>@Html.DisplayNameFor(p => p.WorkFlowId)</th>
                                    <th>@LanguageResource.MES_ProductCode/Cụm</th>
                                    <th>@LanguageResource.MES_ProductName/Cụm</th>
                                    <th>SLKH</th>
                                    <th>SLĐC theo đợt</th>
                                    <th>@Html.DisplayNameFor(p => p.Summary)</th>
                                    <th>@LanguageResource.MES_ProductCode</th>
                                    <th>@LanguageResource.MES_ProductName</th>
                                    <th>@Html.DisplayNameFor(p => p.Text1)</th>
                                    <th>@Html.DisplayNameFor(p => p.Number1)</th>
                                    <th>@Html.DisplayNameFor(p => p.Text2)</th>
                                    <th>@Html.DisplayNameFor(p => p.VisitAddress)</th>
                                    <th>@LanguageResource.Customer_CustomerCode</th>
                                    <th>@LanguageResource.Profile_ProfileForeignCode</th>

                                    <th>@LanguageResource.Profile_Address</th>
                                    <th>@LanguageResource.Reporter</th>
                                    <th>@LanguageResource.Assignee</th>
                                    @if (ViewBag.Type == ConstWorkFlow.LSXD)
                                    {
                                        <th title="@LanguageResource.MES_StartDate_tooltip">@LanguageResource.MES_StartDate</th>
                                        <th title="@LanguageResource.MES_BDDC_tooltip">@LanguageResource.MES_BDDC</th>
                                        <th title="@LanguageResource.MES_EstimatedDate_tooltip">@LanguageResource.MES_EstimatedDate</th>
                                        <th title="@LanguageResource.MES_ReceivedDate_tooltip">@LanguageResource.MES_ReceivedDate</th>
                                        <th title="@LanguageResource.MES_EndDate_tooltip">@LanguageResource.MES_EndDate</th>
                                    }
                                    else if (ViewBag.Type == ConstWorkFlow.LSXC)
                                    {

                                        <th>@Html.DisplayNameFor(p => p.ReceiveDate)</th>
                                        <th>@Html.DisplayNameFor(p => p.EstimateDate)</th>
                                        <th>@Html.DisplayNameFor(p => p.StartDate)</th>
                                        <th>@Html.DisplayNameFor(p => p.EndDate)</th>
                                        <th>@Html.DisplayNameFor(p => p.Property3)</th>
                                        <th>@Html.DisplayNameFor(p => p.Property5)</th>
                                        <th>@Html.DisplayNameFor(p => p.PrintMold)</th>
                                        <th>@Html.DisplayNameFor(p => p.Serial)</th>
                                        <th>@Html.DisplayNameFor(p => p.Date2)</th>
                                        <th>@Html.DisplayNameFor(p => p.Reporter)</th>
                                        <th>@Html.DisplayNameFor(p => p.Text3)</th>
                                        <th>@Html.DisplayNameFor(p => p.Number2)</th>
                                        <th>@Html.DisplayNameFor(p => p.Text4)</th>
                                        <th>@Html.DisplayNameFor(p => p.Text5)</th>
                                        <th>@Html.DisplayNameFor(p => p.Property7)</th>
                                        <th>@Html.DisplayNameFor(p => p.Property9)</th>
                                        <th>@Html.DisplayNameFor(p => p.Component)</th>
                                        <th>@Html.DisplayNameFor(p => p.Description)</th>
                                        <th>@Html.DisplayNameFor(p => p.Qty)</th>
                                        <th>@Html.DisplayNameFor(p => p.Unit)</th>
                                        <th>@Html.DisplayNameFor(p => p.TaskStatusId)</th>
                                        <th>@Html.DisplayNameFor(p => p.Property10)</th>
                                        <th>@Html.DisplayNameFor(p => p.Date3)</th>
                                        <th>@Html.DisplayNameFor(p => p.Property11)</th>
                                        <th>@Html.DisplayNameFor(p => p.Number3)</th>
                                        <th>@Html.DisplayNameFor(p => p.SaleEmployeeCode)</th>

                                        @*<th title="@LanguageResource.MES_StartDate_tooltip">@LanguageResource.MES_StartDate</th>
            <th title="@LanguageResource.MES_BDDC_tooltip">@LanguageResource.MES_BDDC</th>
            <th title="@LanguageResource.MES_EstimatedDate_tooltip">@LanguageResource.MES_EstimatedDate</th>
            <th title="@LanguageResource.MES_ReceivedDate_tooltip">@LanguageResource.MES_ReceivedDate</th>
            <th title="@LanguageResource.MES_EndDate_tooltip">@LanguageResource.MES_EndDate</th>*@
                                    }
                                    else
                                    {
                                        <th>@LanguageResource.Task_StartDate</th>
                                        <th>@LanguageResource.Task_EstimateEndDate</th>
                                        <th>@LanguageResource.Task_EndDate</th>
                                    }

                                    <th>@LanguageResource.CheckInTime</th>
                                    <th>@LanguageResource.CheckOutTime</th>
                                    <th>@Html.DisplayNameFor(p => p.TaskStatusCode)</th>
                                    <th>@Html.DisplayNameFor(p => p.isDeleted)</th>


                                    <th class="text-center">@LanguageResource.Actions</th>
                                    <th class="hidden"></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

