@model RoutingViewModel

@{
    ViewBag.Title = LanguageResource.Create + " " + LanguageResource.Master_Routing.ToLower();
    string CurrentController = ConstController.Routing;
    string CurrentArea = ConstArea.MasterData;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="isContinue" id="isContinue" value="@ViewBag.isContinue" />
    <input type="hidden" name="Data" id="Data" value="@ViewBag.Data" />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.StepCode)
                            </div>
                            <div class="col-md-9">
                                @Html.RequiredTextboxFor(p => p.StepCode)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.StepName)
                            </div>
                            <div class="col-md-9">
                                @Html.RequiredTextboxFor(p => p.StepName)
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.TooltipLabelFor(p => p.WorkCenter)
                                </div>
                                <div class="col-md-9">
                                    @Html.RequiredTextboxFor(p => p.WorkCenter)
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.TooltipLabelFor(p => p.Plant)
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownList("Plant", null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.TooltipLabelFor(p => p.WorkShopName)
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownList("WorkShopId", null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.EquipmentList)
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownList("EquipmentList", null, new { @class = "form-control with-search", @multiple = true })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.EquipmentProduction)
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" id ="EquipmentView" type="text" disabled/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.EquipmentProductionUnit)
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" id="UnitView" type="text" disabled/>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.TooltipLabelFor(p => p.NumberOfMachines)
                                </div>
                                <div class="col-md-9">
                                    @Html.RequiredTextboxFor(p => p.NumberOfMachines)
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.Description)
                            </div>
                            <div class="col-md-9">
                                @Html.RequiredTextboxFor(p => p.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.OrderIndex)
                            </div>
                            <div class="col-md-9">
                                @Html.RequiredTextboxFor(p => p.OrderIndex)
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.TooltipLabelFor(p => p.Actived)
                                </div>
                                <div class="col-md-9">
                                    @Html.ActivedRadioButton(p => p.Actived)
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
       //set event btn-save, btn-save-continue for btn-create
        $(document).ready(function () {
            ISD.CreateInitial("@CurrentUrl");

            numericInput();
            //CheckUnit();
        });

        function numericInput() {
            $('#NumberOfMachines').inputFilter(function (value) {
                return /^-?\d*$/.test(value);
            });
            $('#OrderIndex').inputFilter(function (value) {
                return /^-?\d*$/.test(value);
            });
        }
        // 1: Lấy danh sách EquipmentId
        // 2: Post danh sách EquipmentId đến Action
        $(document).on("change", "#EquipmentList", function () {
            // 1: Lấy danh sách EquipmentId
            var selectedEquipmentId = new Array();
            $("#EquipmentList").each(function () {
                selectedEquipmentId.push($(this).val());
            });
            //Kiểm tra null
            if (selectedEquipmentId[0] == null) {
                $('#EquipmentView').val('');
                $('#UnitView').val('');
            }
            // 2: Post danh sách EquipmentId đến Action
            $.ajax({
                contentType: 'application/json;',
                dataType: 'json',
                type: 'POST',
                url: '/Routing/CheckUnit',
                data: JSON.stringify(selectedEquipmentId[0]),
                success: function (response) {
                    if (response.isSuccess == false) {
                        $("#btn-save").show();
                        $("#btn-save-continue").show();
                        if (response.message != null) {
                            $("#btn-save").hide();
                            $("#btn-save-continue").hide();
                            alertPopup(false, response.message);
                        }
                    }
                    else{
                        $('#EquipmentView').val(response.data.EquipmentProduction);
                        $('#UnitView').val(response.data.Unit);
                        $("#btn-save").show();
                        $("#btn-save-continue").show();
                    }
                },
                error: function (xhr, status, error) {
                    alertPopup(false, xhr.responseText);
                }
            });
        });
    </script>
}


