@model IEnumerable<AllotmentResultViewModel>

<table class="table table-hover table-bordered table-striped dataTable">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@LanguageResource.Allotment_LSXSAP</th>
            <th>@LanguageResource.Allotment_ProductCode</th>
            <th>@LanguageResource.Allotment_ProductDetailCode</th>
            <th>@LanguageResource.Allotment_ProductDetailName</th>
            <th class="text-right">@LanguageResource.Allotment_ProductDetailActualQty</th>
            <th>@LanguageResource.Allotment_BOM</th>
            <th>@LanguageResource.Allotment_Unit</th>
            <th class="text-right">@LanguageResource.Allotment_BOMQty</th>
            <th>@LanguageResource.Allotment_StepCode</th>
            <th class="text-right">@LanguageResource.Allotment_ActualQty</th>
            <th class="text-center">@LanguageResource.ConsumableMaterialsDelivery_DocumentDate</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            int i = 0, k = -1;
            foreach (var item in Model)
            {
                i++;
                k++;
                <tr>
                    <td class="text-center">
                        @i
                    </td>
                    <td>@Html.DisplayFor(p => item.LSXSAP)</td>
                    <td> @Html.DisplayFor(p => item.ProductCode)</td>
                    <td> @Html.DisplayFor(p => item.ProductDetailCode)</td>
                    <td> @Html.DisplayFor(p => item.ProductDetailName)</td>
                    <td class="text-right">@Html.DisplayFor(p => item.ProductDetailActualQty)</td>
                    <td>@Html.DisplayFor(p => item.BOM)</td>
                    <td>@Html.DisplayFor(p => item.BOMUnit)</td>
                    <td class="text-right">@Html.DisplayFor(p => item.BOMQty)</td>
                    <td>@Html.DisplayFor(p => item.StepName)</td>
                    <td class="text-right">@Html.DisplayFor(p => item.ActualQty)</td>
                    <td class="text-center">@Html.DisplayFor(p => item.DocumentDate)</td>
                </tr>
            }
                    }
        @*else
        {
            <tr>
                <td colspan="12" class="text-center">@LanguageResource.NoRecordFound</td>
            </tr>
        }*@
    </tbody>
</table>

