@model DeliverySearchViewModel
@{
    Layout = "~/Views/Shared/_Layout_Report.cshtml";
    ViewBag.Title = LanguageResource.Reports_StockDeliveryReport;
    string CurrentArea = ConstArea.Reports;
    string CurrentController = ConstController.StockDeliveryReport;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    bool isHasPermissionCreateSystemReportTemplate = HtmlExtensions.GetPermission(CurrentUrl, ConstFunction.CreatePivotReportSystem);
    bool isHasPermissionCreateReportTemplate = HtmlExtensions.GetPermission(CurrentUrl, ConstFunction.CreatePivotReport);
    DateTime now = DateTime.Now;
    var fromDateDefault = new DateTime(now.Year, now.Month, 1).ToString("yyyy-MM-dd");
    var toDateDefault = new DateTime(now.Year, now.Month, now.Day).ToString("yyyy-MM-dd");
    var listSystemTemplate = (List<PivotTemplateViewModel>)ViewBag.SystemTemplate;
    var listUserTemplate = (List<PivotTemplateViewModel>)ViewBag.UserTemplate;
    var templateId = ViewBag.TemplateId;
    var modeSearch = ViewBag.ModeSearch;
    ViewBag.CurrentUrl = CurrentUrl;
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
    <div class="pull-right">

    </div>
</div>
@Html.Hidden("TemplateId", null,new { value = templateId })
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="row" style="padding-top:10px;">
                    <div class="col-sm-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body ">
                                <div class="row">

                                    <div class="panel-body">

                                        @using (Html.BeginForm("Index", null, FormMethod.Post, new { @id = "frmSearch", @class = "isd-form-search" }))
                                        {

                                            <div id="frm-product" class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchCompanyId)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(p => p.SearchCompanyId, null, null, new { @class = "form-control with-search" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchStoreId)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(p => p.SearchStoreId, null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.DepartmentId)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(p => p.DepartmentId, null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchCategoryId)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(p => p.SearchCategoryId, null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchSalesEmployeeCode)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(p => p.SearchSalesEmployeeCode, null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchDeliveryCode)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(p => p.SearchDeliveryCode, new { @class = "form-control text-box single-line" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <div class="col-md-4">
                                                                    @Html.TooltipLabelFor(p => p.SearchProfileGroupCode)
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(p => p.SearchProfileGroupCode, null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchProfileCode)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.RequiredTextboxFor(p => p.SearchProfileCode)
                                                                @Html.HiddenFor(p => p.SearchProfileId)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchProfileName)
                                                            </div>
                                                            <div class="col-md-8" style="display: inline-table">
                                                                @Html.RequiredTextboxFor(p => p.SearchProfileName, new { disabled = "disabled" })
                                                                <div class="input-group-btn">
                                                                    <a class="btn btn-danger" id="btn-clearProfile">
                                                                        <i class="fa fa-remove"></i>
                                                                    </a>
                                                                </div>
                                                                <input id="SearchProfileCodeRecent" name="SearchProfileCodeRecent" type="hidden">
                                                                <input id="SearchProfileNameRecent" name="SearchProfileNameRecent" type="hidden">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchFromDate)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.RequiredTextboxFor(p => p.SearchFromDate, new { type = "date", Value = fromDateDefault })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                @Html.TooltipLabelFor(p => p.SearchToDate)
                                                            </div>
                                                            <div class="col-md-8">
                                                                @Html.RequiredTextboxFor(p => p.SearchToDate, new { type = "date", Value = toDateDefault })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="productlist">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <div class="col-md-4">
                                                                    @Html.TooltipLabelFor(p => p.ProductCodeSearch)
                                                                </div>
                                                                <div class="col-md-8" style="display: inline-table">
                                                                    @Html.RequiredTextboxFor(p => p.ProductCode)
                                                                    @Html.HiddenFor(p => p.SearchProductId)
                                                                    <div class="input-group-btn">

                                                                        <a class="btn btn-success btn-addProduct" id="btn-addProduct">
                                                                            <i class="fa fa-plus"></i>
                                                                        </a>
                                                                    </div>
                                                                    <input id="SearchProductCodeRecent" name="SearchProductCodeRecent" type="hidden">
                                                                    <input id="SearchProductNameRecent" name="SearchProductNameRecent" type="hidden">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="last" class="col-md-5">
                                                            <div class="form-group">
                                                                <div class="col-md-4">
                                                                    @Html.TooltipLabelFor(p => p.ProductName)
                                                                </div>
                                                                <div class="col-md-8" style="display: inline-table">
                                                                    @Html.RequiredTextboxFor(p => p.ProductName, new { disabled = "disabled" })
                                                                    <div class="input-group-btn">
                                                                        <a data-productIndex="1" class="btn btn-danger" id="btn-clearProduct">
                                                                            <i class="fa fa-remove"></i>
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="frm-button" class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-md-offset-3 input-group">

                                                            <select id="SearchTemplateId" name="SearchTemplateId">
                                                                <option value="">@LanguageResource.Dropdownlist_RecentSearch</option>
                                                            </select>
                                                            <span class="input-group-btn" style="padding-right:25px;padding-left: 10px;">
                                                                <a class="btn btn-delete-frmSearch display-none" style="color: coral;" title="Xoá mẫu tìm kiếm"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                                                                <a class="btn btn-save-frmSearch" title="Lưu mẫu tìm kiếm"><i class="fa fa-thumb-tack fa-lg" aria-hidden="true"></i></a>
                                                            </span>
                                                            <a id="btn-view" class="btn btn-primary" style="margin-left: 10px;"><i class="fa fa-refresh"></i> Chạy báo cáo</a>&nbsp;
                                                            <div class="btn-group">
                                                                <a class="btn btn-success dropdown-toggle"><i class="fa fa-download"></i> Export</a>
                                                                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">&nbsp;</span></a>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li><a id="btn-export" class="btn-export" href="#"><i class="fa fa-file-excel-o"></i> Export Excel</a></li>
                                                                    <li><a id="btn-export-pivot" class="btn-export" href="#"><i class="fa fa-file-excel-o"></i> Export Pivot Excel</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                        
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="dropdown pull-right" style="padding-top:5px; padding-right: 5px;">
                    @Html.Partial("~/Areas/Reports/Views/_PivotTemplateHandle.cshtml")
                </div>
                <div class="panel-body" style="overflow-x:scroll;">

                    @Html.Action("StockDeliveryPivotGridPartial", new { searchViewModel = ViewBag.Search, templateId = ViewBag.TemplateId })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="delete-confirm"></div>
@section components {

    <div id="popupSaveTemplate" class="modal fade" role="dialog">
        @Html.Partial("~/Areas/Reports/Views/_SaveTemplatePopup.cshtml")
    </div>
}
@section jquery {
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui.js"></script>
}

@section scripts {
    <script src="~/Scripts/Common/ISD.SearchTemplate.js"></script>
    <script src="~/Scripts/Common/PivotTemplate.js"></script>
    <script>
	//Define it
	var currentUserId = "@CurrentUser.AccountId";
	var currentPageId = "@ViewBag.PageId";
    </script>
    <script>
        $(document).ready(function () {

            var modeTemplateSearch = "@modeSearch";

            if (modeTemplateSearch == "Recently") {
                LoadTemplateSearch(currentUserId, currentPageId, "Recently");
                var recentSearch = JSON.parse(localStorage.getItem('pageId-' + currentPageId));
                if (recentSearch) {
                    FillToInput(recentSearch);
                    FillToInputSpecial(recentSearch);
                }
            }
            else {
                LoadTemplateSearch(currentUserId, currentPageId);
                localStorage.removeItem('pageId-' + currentPageId)
            }
            ISDPivotTemplate.Init("@CurrentUrl","@CurrentController");
        })
        function ExportPivotGrid(searchData) {
            var form = $('#frmSearch');
            var templateId = $('#TemplateId').val();
            var formData = document.createElement("form");
            $.each(searchData, function (index, val) {
                var s = document.createElement("input");
                s.name = val.name;
                s.value = val.value;
                formData.appendChild(s);
            });

            //form.append("searchViewModel", searchData);
            //form.append("templateId", templateId);
            defaultAction = form.attr('action'),
            newAction = defaultAction + "/ExportPivot";
            formData.attr('action', newAction);
            formData.submit();
            formData.attr('action', defaultAction);

            // var form = $('#PivotGridExportForm');
            // form.submit();
        }
        var currentIndex = 1;
        $(document).on("click", "#btn-export", function () {
            var $btn = $(this);
            $btn.button("loading");
            var arr = {};
            var listProductId = [];
            var data = $("#frmSearch").serializeArray();
            for (var i = 1; i <= currentIndex; i++) {
                if (i == 1) {
                    listProductId.push($("#SearchProductId").val());
                }
                else {
                    if ($("#SearchProductId" + i).val() != undefined) {
                        listProductId.push($("#SearchProductId" + i).val());
                    }

                }
            }
            var obj = {};
            $.each(data, function (index, val) {
                obj[val.name] = val.value;
                $.extend(true, arr, obj)
            });
            obj["ListSearchProductId"] = listProductId;
            obj["TemplateId"] = $('#TemplateId').val();
            $.extend(true, arr, obj);
            //Save localStorage
            localStorage.setItem('pageId-' + currentPageId, JSON.stringify(arr));
           // ExportPivotGrid(arr);
            ISD.Download("/@CurrentUrl/ExportExcel", arr);
            $btn.button("reset");
        });
        $(document).on("click", "#btn-export-pivot", function () {
            var $btn = $(this);
            $btn.button("loading");
            var arr = {};
            var listProductId = [];
            var data = $("#frmSearch").serializeArray();
            for (var i = 1; i <= currentIndex; i++) {
                if (i == 1) {
                    listProductId.push($("#SearchProductId").val());
                }
                else {
                    if ($("#SearchProductId" + i).val() != undefined) {
                        listProductId.push($("#SearchProductId" + i).val());
                    }

                }
            }
            var obj = {};
            $.each(data, function (index, val) {
                obj[val.name] = val.value;
                $.extend(true, arr, obj)
            });
            obj["ListSearchProductId"] = listProductId;
            obj["TemplateId"] = $('#TemplateId').val();
            $.extend(true, arr, obj);
            //Save localStorage
            localStorage.setItem('pageId-' + currentPageId, JSON.stringify(arr));
           // ExportPivotGrid(arr);
            ISD.Download("/@CurrentUrl/ExportPivot", arr);
            $btn.button("reset");
        });
        $(document).on("click", ".btn-addProduct", function () {
            var $btn = $(this);
            var arr = {};
            currentIndex++;
            $("#productlist").append('<div class="col-md-5 product' + currentIndex + '">' +
                ' <div class="form-group">' +
                '<div class="col-md-4">' +
                '<div class="label-wrapper"><label class="control-label" for="ProductCodeSearch">Mã/Tên sản phẩm</label></div>' +

                ' </div>' +
                ' <div class="col-md-8" style="display: inline-table">' +
                ' <input data-productIndex="' + currentIndex + '" class="form-control product-search text-box single-line ui-autocomplete-input"        id="ProductCode' + currentIndex + '" name="ProductCode' + currentIndex + '" type="text" value="">' +
                '<input id="SearchProductId' + currentIndex + '" name="SearchProductId' + currentIndex + '" type="hidden" value="">' +
                '  <div class="input-group-btn">' +

                '  <a class="btn btn-success btn-addProduct" id="btn-addProduct">' +
                '       <i class="fa fa-plus"></i>' +
                '  </a>' +
                ' </div>' +

                '  </div>' +
                ' </div>' +
                ' </div>' +
                '  <div class="col-md-5 product' + currentIndex + '">' +
                '   <div class="form-group">' +
                '  <div class="col-md-4">' +
                '     <div class="label-wrapper"><label class="control-label" for="ProductName">Tên sản phẩm</label></div>' +
                '  </div>' +
                '  <div class="col-md-8" style="display: inline-table">' +
                '     <input class="form-control text-box single-line" disabled="disabled" id="ProductName' + currentIndex + '" name="ProductName' + currentIndex + '" type="text" value="">' +
                '    <div class="input-group-btn">' +
                '     <a data-productIndex="' + currentIndex + '" class="btn btn-danger btn-removeProduct" id="btn-clearProduct' + currentIndex + '">' +
                '<i class="fa fa-minus"></i>' +
                '     </a>' +

                '    </div>' +
                '  </div>' +
                '  </div>' +
                '   </div>');
        });
         $(document).on("click", "#btn-view", function () {
             var $btn = $(this);
             $btn.button("loading")
             var arr = {};
             var listProductId = [];
             var data = $("#frmSearch").serializeArray();
             for (var i = 1; i <= currentIndex; i++) {
                 if (i == 1) {
                     listProductId.push($("#SearchProductId").val());
                 }
                 else {
                     if ($("#SearchProductId" + i).val() != undefined) {
                         listProductId.push($("#SearchProductId" + i).val());
                     }

                 }
             }
             var obj = {};
             $.each(data, function (index, val) {
                 obj[val.name] = val.value;
                 $.extend(true, arr, obj)
             });
             obj["ListSearchProductId"] = listProductId;
             obj["IsView"] = true;
             $.extend(true, arr, obj);
             obj["pivotTemplate"] = $('#TemplateId').val();
             obj["modeSearch"] = "Recently";
             $.extend(true, arr, obj);
             //Save localStorage
             localStorage.setItem('pageId-' + currentPageId, JSON.stringify(arr));
             ISD.Download("/@CurrentUrl/ViewDetail", arr);
        });
        $(document).off("click", ".pivot-template-item").on("click", ".pivot-template-item", function () {
            var $btn = $(this);
             var arr = {};
             var listProductId = [];
             var data = $("#frmSearch").serializeArray();
             for (var i = 1; i <= currentIndex; i++) {
                 if (i == 1) {
                     listProductId.push($("#SearchProductId").val());
                 }
                 else {
                     if ($("#SearchProductId" + i).val() != undefined) {
                         listProductId.push($("#SearchProductId" + i).val());
                     }

                 }
             }
             var obj = {};
             $.each(data, function (index, val) {
                 obj[val.name] = val.value;
                 $.extend(true, arr, obj)
             });
             obj["ListSearchProductId"] = listProductId;
            obj["IsView"] = true;
            obj["modeSearch"] = "Recently";
            $.extend(true, arr, obj);
            var templateId = $(this).data('id');
            obj["pivotTemplate"] = templateId;
            $.extend(true, arr, obj);
             localStorage.setItem('pageId-' + currentPageId, JSON.stringify(arr));
             @*ISD.Download("/@CurrentUrl/Index", arr);

            var url ="/@CurrentUrl/ChangeTemplate";*@
            ISD.Download("/@CurrentUrl/ChangeTemplate", arr);
        });


        $("#ProductCode").autocomplete({
            source: function (request, response) {
                var categoryId = $('#SearchCategoryId').val();
                var url ='/Warehouse/StockReceiving/GetProductCode';
                var data = JSON.stringify({ "ProductCode": $("#ProductCode").val() });
                if (categoryId != null && categoryId != "") {
                    url = '/Warehouse/StockReceiving/GetProductCodeByCategoryId';
                    data = JSON.stringify({
                        "ProductCode": $("#ProductCode").val(),
                        "CategoryId": categoryId
                    });
                }
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: url,
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ProductCodeText, id: item.ProductId, value: item.ProductCode, name: item.ProductName };
                        }));
                        //response(data);
                    },
                    error: function (xhr, status, error) {
                        alertPopup(false, xhr.responseText);
                    }
                });
            },
            //prevent another value except dropdown value
            change: function (event, ui) {
                if (ui.item === null) {
                    $("#ProductCode").val("");
                    $("#SearchProductCodeRecent").val("");
                    $("#ProductName").val("");
                    $("#SearchProductNameRecent").val("");
                    $("#SearchProductId").val("");
                    $("#ProductCode").focus();
                }
            },
            select: function (event, ui) {
                $("#ProductCode").val(ui.item.value);
                $("#ProductCode").prop("disabled", true);
                $("#SearchProductCodeRecent").val(ui.item.value);
                $("#ProductName").val(ui.item.name);
                $("#SearchProductNameRecent").val(ui.item.name);
                $("#SearchProductId").val(ui.item.id);
            }
        });
        $(document).on("click", "#btn-clearProduct", function () {
            $("#ProductCode").val("");
            $("#ProductName").val("");
            $("#SearchProductId").val("");
            $("#ProductCode").prop("disabled", false);
        });
        $(document).on("focus", ".product-search", function () {
            var index = $(this).data("productindex");
            $(this).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/Warehouse/StockReceiving/GetProductCode",
                        data: JSON.stringify({ "ProductCode": $("#ProductCode" + index).val() }),
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.ProductCodeText, id: item.ProductId, value: item.ProductCode, name: item.ProductName };
                            }));
                            //response(data);
                        },
                        error: function (xhr, status, error) {
                            alertPopup(false, xhr.responseText);
                        }
                    });
                },
                //prevent another value except dropdown value
                change: function (event, ui) {
                    if (ui.item === null) {
                        $("#ProductCode" + index).val("");
                        $("#ProductName" + index).val("");
                        $("#SearchProductId" + index).val("");
                        $("#ProductCode" + index).focus();
                    }
                },
                select: function (event, ui) {
                    $("#ProductCode" + index).val(ui.item.value);
                    $("#ProductCode" + index).prop("disabled", true);
                    $("#ProductName" + index).val(ui.item.name);
                    $("#SearchProductId" + index).val(ui.item.id);
                }
            });
        });


        $(document).on("click", "#btn-clearProduct", function () {
            $("#ProductCode").val("");
            $("#ProductName").val("");
            $("#SearchProductId").val("");
            $("#ProductCode").prop("disabled", false);
        });
        $(document).on("click", ".btn-removeProduct", function () {
            var index = $(this).data('productindex');
            $(".product" + index).remove();
            //$("#ProductName" + index).val("");
            //$("#SearchProductId" + index).val("");
            //$("#ProductCode" + index).prop("disabled", false);
        });
        //$(document).on("click", ".btn-removeProduct", function () {
        //    var index = $(this).data('productindex');
        //    $(".product" + currentIndex).remove();
        //    currentIndex--;
        //    //$("#ProductName" + index).val("");
        //    //$("#SearchProductId" + index).val("");
        //    //$("#ProductCode" + index).prop("disabled", false);
        //});

        $("#SearchProfileCode").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Customer/Profile/GetProfileByCode",
                    data: JSON.stringify({ "ProfileCode": $("#SearchProfileCode").val() }),
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ProfieLableName, id: item.ProfileId, value: item.ProfileCode, name: item.ProfileName };
                        }));
                        //response(data);
                    },
                    error: function (xhr, status, error) {
                        alertPopup(false, xhr.responseText);
                    }
                });
            },
            //prevent another value except dropdown value
            change: function (event, ui) {
                if (ui.item === null) {
                    $("#SearchProfileCode").val("");
                    $("#SearchProfileCodeRecent").val("");
                    $("#SearchProfileName").val("");
                    $("#SearchProfileNameRecent").val("");
                    $("#SearchProfileId").val("");
                    $("#SearchProfileCode").focus();
                }
            },
            select: function (event, ui) {
                $("#SearchProfileCode").val(ui.item.value);
                $("#SearchProfileCode").prop("disabled", true);
                $("#SearchProfileCodeRecent").val(ui.item.value);
                $("#SearchProfileName").val(ui.item.name);
                $("#SearchProfileNameRecent").val(ui.item.name);
                $("#SearchProfileId").val(ui.item.id);
            }
        });

        $(document).on("click", "#btn-clearProfile", function () {
            $("#SearchProfileCode").val("");
            $("#SearchProfileName").val("");
            $("#SearchProfileId").val("");
            $("#SearchProfileCode").prop("disabled", false);
        });
    </script>
    <script>
        //Get data of form search name function is required
        function GetDataFormSearch() {
            //Get value in search form
            var formdata = $("#frmSearch").serializeArray();
            var data = {};
            $(formdata).each(function (index, obj) {
                data[obj.name] = obj.value;
            });
            return JSON.stringify(data);
        }
        //Fill data to form search name function is required
        function FillToInputSpecial(recentSearch) {
            if (recentSearch.SearchProfileId != "") {
                $("#SearchProfileCode").val(recentSearch.SearchProfileCodeRecent);
                $("#SearchProfileName").val(recentSearch.SearchProfileNameRecent);
                $("#SearchProfileCode").prop("disabled", true);
            }
            if (recentSearch.SearchProductId != "") {
                $("#ProductCode").val(recentSearch.SearchProductCodeRecent);
                $("#ProductName").val(recentSearch.SearchProductNameRecent);
                $("#ProductCode").prop("disabled", true);
            }
        }
    </script>

}
