@model IEnumerable<DateClosedViewModel>

<div class="clearfix">
    <h5><b>Lịch sử cập nhật</b></h5>
</div>
<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.ModifiedUserName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.DateClosed)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.ModifiedTime)</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.ModifiedUserName)</td>
                <td class="text-center">@Html.DisplayFor(p => item.DateClosed)</td>
                <td class="text-center">@Html.DisplayFor(p => item.ModifiedTime)</td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>



