@model IEnumerable<ProductionOrderDetailViewModel>
<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">

        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Lịch sử ghi nhận: @Model.FirstOrDefault().KTEXT</h5>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped table-hover table-responsive-lg dataTable  no-footer tableDetailItem">
                <thead class="isd-table-header">
                    <tr>
                        <th class="text-center">No.</th>
                        <th>Chi tiết</th>
                        <th>Người tạo</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td class="text-center" rowspan="2">@i</td>
                            <td>@Html.DisplayFor(p => item.KTEXT)</td>
                            <td>@Html.DisplayFor(p => item.CreateByName)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(p => item.Quantity) @Html.DisplayFor(p => item.StockRecevingType)</td>
                            <td>@Html.DisplayFor(p => item.CreateTime)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>