@model List<ProductionOrderDetailViewModel>
@{
    EntityDataContext _context = new EntityDataContext();
}

@if (Model.Count() > 0)
{
    <b>SP/CT/Cụm hoàn thành đã ghi nhận:</b>
    <table class="table table-bordered table-responsive dataTable table-routing-result table-sm">
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var countItem = new UnitOfWork(_context).ProductionManagementRepository.CountProductionRecordhistory(Model[i].CustomerReference, Model[i].FromTime, Model[i].ToTime, Model[i].ITMNO, Model[i].StepCode);

                <tr>
                    <td rowspan="1" class="text-center">
                        @(i+1)
                    </td>
                    <td colspan="1">
                        @Html.DisplayTextFor(p => Model[i].KTEXT)
                       
                    </td>
                    <td colspan="1">
                       @(Model[i].FromDate.HasValue ? string.Format("{0:dd/MM/yyyy}", Model[i].FromDate) + " -> " : null) @(string.Format("{0:dd/MM/yyyy}", Model[i].ToDate))

                       
                    </td>

                </tr>
                <tr>
                    <td  class="text-center">
                        @Model[i].StepCode (@Model[i].Phase)
                    </td>
                    <td colspan="1">
                        @(string.Format("{0:n0} Đ", Model[i].Quantity_D)) @(string.Format("| {0:n0} KĐ", Model[i].Quantity_KD))
                        <a href="#" class="btn-showhistory pull-right"
                           data-ttlsxid="@Model[i].CustomerReference"
                           data-fromtime="@Model[i].FromTime"
                           data-totime="@Model[i].ToTime"
                           data-itmno="@Model[i].ITMNO"
                           data-stepcode="@Model[i].StepCode"
                           >
                            @if (countItem == 1)
                            {
                                <i class="fa fa-eye" style="color: blue!important;"></i>
                            }
                            else
                            {
                                <i class="fa fa-eye" style="color: orange!important;"></i>
                            }
                        </a>

                    </td>
                    <td colspan="1">
                        @(string.Format("{0:HH:mm}", Model[i].FromTime)) -> @(string.Format("{0:HH:mm}", Model[i].ToTime))
                       
                        <div style="display: inline-flex; position: relative" class="pull-right">
                            <a href="#" class="btn-showDepartment dropdown-toggle"
                               title="View Detail"
                               data-toggle="dropdown"
                               data-ttlsxid="@Model[i].CustomerReference"
                               data-fromtime="@Model[i].FromTime"
                               data-totime="@Model[i].ToTime"
                               data-itmno="@Model[i].ITMNO"
                               data-stepcode="@Model[i].StepCode">
                                <i class="fa fa-info-circle" style="color: black!important;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-filter dropdown-menu-left mr-15 hidden DepartmentItem"
                                style="left: -315px!important; max-height: 55px; min-width: 50px; width: max-content; margin-top: 0; padding: 0;"></ul>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
