@{
    string CurrentController = ConstController.ProductionManagement;
    string CurrentArea = ConstArea.MES;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController, "?Type=" + (string)ViewBag.Type);
}

@if (ViewBag.Type == "GNSL")
{
    ViewBag.Title = "Ghi nhận sản lượng";
}
else if (ViewBag.Type == "CCD")
{
    ViewBag.Title = "Chuyển công đoạn";
}
else if (ViewBag.Type == "CDL")
{
    ViewBag.Title = "Xác nhận hoàn tất công đoạn lớn";
}


@section head{
    <style>
        .btn-lg {
            padding: 10px 14px;
            font-size: 15px;
            line-height: 1.3333333;
            border-radius: 6px;
        }
    </style>
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
    <div class="pull-right">

    </div>
</div>
<div class="content" onload="setup();">

    <div class="panel-group">
        <div class="message-function">
            @*Vui lòng chọn chức năng trước khi quét mã!*@
        </div>
        @Html.Hidden("ChooseFunction")
    </div>
</div>

<div class="box-footer">
    <div id="logMsg">
        <b>Log:</b>
    </div>
</div>




@section components{

    <div class="modal fade" id="divFunctionModal" role="dialog">

    </div>
    <div class="modal fade" id="divRoutingSearch" role="dialog">

    </div>
    <div class="modal fade" id="divProductionRecordhistory" role="dialog">

    </div>

}
@section Scripts{

    <script src="~/Scripts/WebScaner/BarcodeReader.js"></script>
    <script src="~/Scripts/WebScaner/ScanQRCode.js"></script>
    @*<script src="~/Areas/MES/Scripts/ProductionRecording.js"></script>*@
    @Scripts.Render("~/Areas/MES/Scripts/ProductionRecording")
    <script>
        $(document).ready(function () {
            var item_id = getUrlVars()["Barcode"];
            if (item_id) {
                $.ajax({
                    type: "GET",
                    url: "/MES/ProductionManagement/_RecordProduction",
                    data: { Barcode: item_id },
                    success: function (jsonData) {
                        if (jsonData.Success === false) {
                            alertPopup(false, jsonData.Data);
                        } else {
                            $("#divFunctionModal").html(jsonData);
                            $("#divFunctionModal").modal('show');
                            $('#ChooseFunction').val("department-barcode")
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
            //$.ajax({
            //    type: "GET",
            //    url: "/MES/ProductionManagement/_SwitchingStages",
            //    data: { Barcode: "2DF88C2F-63C2-4DB2-AAEA-739D9840DA78" },
            //    success: function (jsonData) {
            //        if (jsonData.Success == false) {
            //            alertPopup(false, jsonData.Data);
            //        } else {
            //            $("#divFunctionModal").html(jsonData);
            //            $("#divFunctionModal").modal('show');
            //            $('#ChooseFunction').val("save-barcode")
            //        }

            //    },
            //    error: function (err) {
            //        alertPopup(false, err.statusText);
            //    }
            //});
            //$.ajax({
            //    type: "GET",
            //    url: "/MES/ProductionManagement/_ConfirmWorkCenter",
            //    data: { Barcode: "6d333611-26be-4f3e-b22b-d22da574c234" },
            //    success: function (response) {
            //        $("#divFunctionModal").html(response);
            //        $("#divFunctionModal").modal('show');
            //    },
            //    error: function (err) {
            //        alert(err.statusText);
            //    }
            //});1CB832B9-F878-4CF4-B529-EB79A0736DB7
            //$.ajax({
            //    type: "GET",
            //    url: "/MES/ProductionManagement/_RecordProduction",
            //    data: { Barcode: 'F14D12ED-16BA-4185-9F7F-B47065709E93' },
            //    success: function (jsonData) {
            //        if (jsonData.Success == false) {
            //            alertPopup(false, jsonData.Data);
            //        } else {
            //            $("#divFunctionModal").html(jsonData);
            //            $("#divFunctionModal").modal('show');
            //            $('#ChooseFunction').val("department-barcode")
            //        }
            //    },
            //    error: function (err) {
            //        alert(err.statusText);
            //    }
            //});
            openButtonClicked();

             if ("@ViewBag.Type" == "GNSL") {

                 $('#ChooseFunction').val("record-production")
                 $('.message-function').text("Vui lòng quét mã QR để ghi nhận sản lượng!")

            }
            else if ("@ViewBag.Type" == "CCD") {

                 $('#ChooseFunction').val("switching-stages")
                 $('.message-function').text("Vui lòng quét mã QR để chuyển công đoạn!")

            } else if ("@ViewBag.Type" == "CDL") {

                 $('#ChooseFunction').val("confirm-cdl")
                 $('.message-function').text("Vui lòng quét mã QR để xác nhận hoàn thành công đoạn lớn!")

            }
        });
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        //var barcodeDataText, readTimeText;
        //barcodeDataText = document.getElementById("BarcodeData");
        //symbTypeText = document.getElementById("SymbType");
        //readTimeText = document.getElementById("ReadTime");

        //Quét mã có data sẽ gọi hàm này, cusstom bên trong hàm, không sửa tên hàm và tham số.
        function onBarcodeDataReady(data, type, time) {
            loading2();
            let textData = GetValueFieldInData(data, "T2");
            //barcodeDataText.value = decode_utf8(textData);
            //readTimeText.value = time;
            let Barcode = GetValueFieldInData(data, "T1");
            if ($('#ChooseFunction').val() != null && $('#ChooseFunction').val() != "") {
                //Lấy idTask từ trường T1
                if ($('#ChooseFunction').val() == "switching-stages") {
                    $.ajax({
                        type: "GET",
                        url: "/MES/ProductionManagement/_SwitchingStages",
                        data: { Barcode: data },
                        success: function (jsonData) {
                            if (jsonData.Success == false) {
                                alertPopup(false, jsonData.Data);
                            } else {
                                $("#divFunctionModal").html(jsonData);
                                $("#divFunctionModal").modal('show');
                            }

                        },
                        error: function (err) {
                            alertPopup(false, err.statusText);
                        }
                    });
                } else if ($('#ChooseFunction').val() == "record-production") {
                    $.ajax({
                        type: "GET",
                        url: "/MES/ProductionManagement/_RecordProduction",
                        data: { Barcode: data },
                        success: function (jsonData) {
                            if (jsonData.Success == false) {
                                alertPopup(false, jsonData.Data);
                            } else {
                                $("#divFunctionModal").html(jsonData);
                                $("#divFunctionModal").modal('show');
                                $('#ChooseFunction').val("department-barcode")
                            }
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else if ($('#ChooseFunction').val() == "confirm-cdl") {
                    $.ajax({
                        type: "GET",
                        url: "/MES/ProductionManagement/_ConfirmWorkCenter",
                        data: { Barcode: data },
                        success: function (jsonData) {
                            if (jsonData.Success == false) {
                                alertPopup(false, jsonData.Data);
                            } else {
                                $("#divFunctionModal").html(jsonData);
                                $("#divFunctionModal").modal('show');
                            }

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                }
                else if ($('#ChooseFunction').val() == "department-barcode") {
                    $.ajax({
                        type: "GET",
                        url: "/MES/ProductionManagement/_GetDepartmentAndWorkShop",
                        data: { DepartmentId: data },
                        success: function (response) {
                            $(".department-barcode").html(response);
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                }

            }
        }
    </script>


    @if (ViewBag.Type == "GNSL")
    {

        <script>
            $('#divFunctionModal').on('hidden.bs.modal', function () {
                $('#divFunctionModal').html("");
                $('#ChooseFunction').val("record-production")
                $('.message-function').text("Vui lòng quét mã QR để ghi nhận sản lượng!")
                //load lại trang khi tắt popup
                window.location.href = "/@CurrentUrl";
            });
        </script>

    }
    else if (ViewBag.Type == "CCD")
    {

        <script>
            $('#divFunctionModal').on('hidden.bs.modal', function () {
                $('#divFunctionModal').html("");
                $('#ChooseFunction').val("switching-stages")
                $('.message-function').text("Vui lòng quét mã QR để chuyển công đoạn!")

            });
        </script>

    }
    else if (ViewBag.Type == "CDL")
    {

        <script>
            $('#divFunctionModal').on('hidden.bs.modal', function () {
                $('#divFunctionModal').html("");
                $('#ChooseFunction').val("confirm-cdl")
                $('.message-function').text("Vui lòng quét mã QR để xác nhận hoàn thành công đoạn lớn!")

            });
        </script>

    }
}

