@model TransferViewModel

@{
    ViewBag.Title = LanguageResource.Create + " " + LanguageResource.MoldTransfer_Bill.ToLower();
    string CurrentController = ConstController.ChuyenKho;
    string CurrentArea = ConstArea.Warehouse;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<div class="content" style="padding-top: 0px">
    <div class="content-header clearfix" style="padding-left: 0px">
        @{var title = LanguageResource.Create + " " + LanguageResource.MoldTransfer_Bill.ToLower();}
        <h1 class="pull-left">
            @title
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right" style="margin-right: -15px">
            @HtmlExtensions.SaveButton("btn-save-view", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmCreate" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="isContinue" id="isContinue" value="@ViewBag.isContinue" />
        <input type="hidden" name="Data" id="Data" value="@ViewBag.Data" />

        <div class="panel-group" style="margin-top: 15px">
            <div class="panel panel-body">
                <div class="form-horizontal">
                    @{ var stockReciveVM = new StockReceivingMasterViewModel
                        {
                            DocumentDate = DateTime.Now
                        }; }
                    @Html.Partial("~/Areas/Warehouse/Views/StockReceiving/_StockReceivingMaster.cshtml", stockReciveVM)
                    @Html.Partial("ChuyenKhoView")
                </div>
            </div>
        </div>
    }
</div>
@section jquery {
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui.js"></script>
}
<script type="text/javascript">
    $(document).ready(function () {
        ISD.CreateInitial("@CurrentUrl");
        $("select[name='CompanyId']").trigger("change");
        SearchText_ProductCode();
        });
</script>
<script src="~/Areas/Warehouse/Scripts/ChuyenKhoCreate.js"></script>