@model IEnumerable<CheckInHistoryViewModel>


<table class="table table-bordered table-striped">
    <thead class="isd-table-header">
    <tr>
        <th class="text-center">@LanguageResource.NumberIndex</th>
        <th class="text-center">@Html.DisplayNameFor(p => p.SalesEmployeeCode)</th>
        <th class="text-center">@Html.DisplayNameFor(p => p.CheckInDate)</th>
    </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td class="text-center">@Html.DisplayFor(p => item.SalesEmployeeCode)</td>
                <td class="text-right">@Html.DisplayFor(p => item.CheckInDate)</td>
            </tr>
        }
    </tbody>
</table>
