@model ProductionManagementViewModel

<div class="modal-dialog modal-dialog-md">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cancel-delete"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">TÌM KIẾM THÔNG TIN LỆNH SẢN XUẤT SAP</h4>
        </div>
        <div class="alert alert-warning alert-dismissable modalAlert" style="display: none">
            <button type="button" class="alert-close close" aria-hidden="true">×</button>
            <div class="modal-alert-message">
            </div>
        </div>
        <form id="frmProductionOrderSearchPopup">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="modal-body">

                    <div class="content">
                        <div class="form-horizontal">
                            <div class="panel-group">
                                <div class="panel panel-default panel-search">


                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelByPropertyNameFor(p => p.PPO_LSXDT, "LSX ĐT")
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(p => p.PPO_LSXDT, new { @class = "form-control text-box single-line" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelByPropertyNameFor(p => p.PPO_LSXSAP, "LSX SAP")
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(p => p.PPO_LSXSAP, new { @class = "form-control text-box single-line" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelByPropertyNameFor(p => p.PPO_ProductCode, "Mã sản phẩm")
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(p => p.PPO_ProductCode, new { @class = "form-control text-box single-line" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelByPropertyNameFor(p => p.PPO_ProductName, "Tên sản phẩm")
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(p => p.PPO_ProductName, new { @class = "form-control text-box single-line" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-8 col-md-offset-5">
                                                    <a class="btn btn-primary" id="btn-search-production-order"><i class="fa fa-search"></i> Tìm kiếm</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="divProductionOrderSearchResult">
                                            <table class="table table-bordered table-striped table-hover no-footer searchTable">
                                                <thead class="isd-table-header">
                                                    <tr>
                                                        <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                                                        <th>@Html.DisplayNameFor(p => p.LSXSAP)</th>
                                                        <th>@Html.DisplayNameFor(p => p.LSXDT_Summary)</th>
                                                        <th>@Html.DisplayNameFor(p => p.ProductCode)</th>
                                                        <th>@Html.DisplayNameFor(p => p.ProductName)</th>
                                                        <th class="text-center">@LanguageResource.Actions</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).on("click", "#btn-search-production-order", function () {
        var $btn = $(this);
        $btn.button('loading');
        var frmElement = $(this).closest('form').attr('id');
        PaggingServerSide_ProductionOrder("/MES/ProductionRecording/_ProductionOrderSearchResult", frmElement);
    });

    function PaggingServerSide_ProductionOrder(url, frm) {
        $("#" + frm + " .searchTable").DataTable().clear().destroy();
        $("#" + frm + " .searchTable")
            .on('processing.dt', function (e, settings, processing) {
                ISD.LoadingDataTable(processing, '#' + frm + ' .searchTable');
            })
            .DataTable({
                proccessing: true,
                serverSide: true,
                paging: true,
                scrollX: false,
                ajax: {
                    type: 'POST',
                    url: url,
                    contentType: 'application/json',
                    data: function (d) {
                        var arr = {};
                        //data search
                        var data = $("#" + frm).serializeArray();
                        $.each(data, function (index, val) {
                            var obj = {};
                            obj[val.name] = val.value;
                            $.extend(true, arr, obj);
                        });
                        //data datatable (draw, start, length,...)
                        $.extend(true, arr, d);

                        return JSON.stringify(arr);
                    }
                },
                columns: [
                    {
                        "data": "STT",
                        "className": "text-center"
                    },
                    {
                        "data": "Summary",
                        "orderable": true,
                    },
                    {
                        "data": "Property5",
                        "orderable": true,
                    },
                    {
                        "data": "ProductCode",
                        "orderable": true,
                    },
                    {
                        "data": "ProductName",
                        "orderable": true,
                    },
                    {
                        "data": "TaskId",
                        "orderable": false,
                        "className": "text-center",
                        "render": function (data, type, row) {
                            var htmlContent = "";
                            htmlContent = '<span> <a href="#" class="btn btn-primary btn-create-new-ttlsx" data-id="' + row["TaskId"] + '" onclick="$(this).button(\'loading\')"><i class="fa fa-plus-square"></i></a></span>';

                            return htmlContent;
                        }
                    },
                ],
                destroy: true,
                language: {
                    sProcessing: "Đang xử lý...",
                    sLengthMenu: "Xem _MENU_ mục",
                    sZeroRecords: "Không tìm thấy dòng nào phù hợp",
                    sInfo: "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                    sInfoEmpty: "Đang xem 0 đến 0 trong tổng số 0 mục",
                    sInfoFiltered: "(được lọc từ _MAX_ mục)",
                    sInfoPostFix: "",
                    sSearch: "Tìm nội dung:",
                    sUrl: "",
                    oPaginate: {
                        sFirst: "Đầu",
                        sPrevious: "&laquo;",
                        sNext: "&raquo;",
                        sLast: "Cuối"
                    }
                },
                columnDefs: [
                    { targets: [0, 1], visible: true },
                    { targets: 'no-sort', visible: false }
                ],
                "sDom": '<"top"flp>rt<"bottom"ip><"clear">',
            });
    }

    $(document).on("click", ".btn-create-new-ttlsx", function () {
        var parentTaskId = $(this).data("id");
        $.ajax({
            type: "GET",
            url: "/MES/ProductionRecording/_CreateTTLSX",
            data: { ParentTaskId: parentTaskId },
            success: function (response) {
                $("#divProductionOrderSearch").modal('hide');

                $("#divFunctionModal").html(response);
                $("#divFunctionModal").modal('show');
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
    });
</script>
