@model ThucThiLenhSanXuatViewModel
<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.LSXSAP)</th>
            <th>@Html.DisplayNameFor(p => p.LSXDT_Summary)</th>
            <th>@Html.DisplayNameFor(p => p.ProductCode)</th>
            <th>@Html.DisplayNameFor(p => p.ProductName)</th>
            <th>@Html.DisplayNameFor(p => p.StepName)</th>
            <th>@Html.DisplayNameFor(p => p.ToStockCode)</th>
            <th>@Html.DisplayNameFor(p => p.RoutingDetail)</th>
            <th>@Html.DisplayNameFor(p => p.CreateByName)</th>
            <th>@Html.DisplayNameFor(p => p.CreateTime)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
</table>