@model IEnumerable<TaskViewModel>
@{
    string CurrentController = ConstController.ProductionRecording;
    string CurrentArea = ConstArea.MES;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Summary)</th>
            <th>@Html.DisplayNameFor(p => p.LSXDT_Summary)</th>
            <th>@Html.DisplayNameFor(p => p.ProductCode)</th>
            <th>@Html.DisplayNameFor(p => p.ProductName)</th>
            <th>@Html.DisplayNameFor(p => p.CreateTime)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="text-left">@Html.DisplayFor(p => item.Summary)</td>
                    <td>@Html.DisplayFor(p => item.LSXDT_Summary)</td>
                    <td>@Html.DisplayFor(p => item.ProductCode)</td>
                    <td>@Html.DisplayFor(p => item.ProductName)</td>
                    <td>@Html.DisplayFor(p => item.CreateTime.Value.ToString("dd/MM/yyyy"))</td>
                    
                    <td class="text-center">
                        <a href="#" class="btn btn-primary btn-update-barcode" data-id="@item.TaskId" onclick="$(this).button('loading')">Cập nhật QR Code</a>
                        <a href="#" class="btn btn-primary btn-record-production" data-id="@item.TaskId" onclick="$(this).button('loading')">Ghi nhận sản lượng</a>
                        <a href="#"class="btn btn-primary btn-switching-stages" data-id="@item.TaskId"  onclick="$(this).button('loading')" >Chuyển công đoạn</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot></tfoot>
</table>

