@model ErrorListViewModel

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.MasterData_ErrorList.ToLower();
    string CurrentController = ConstController.ErrorList;
    string CurrentArea = ConstArea.MasterData;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c => c.ErrorListId)
    @*@Html.HiddenFor(c => c.ErrorListCodeValid)*@

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(c => c.ErrorListCode)
                            </div>
                            <div class="col-md-6">
                                @Html.RequiredTextboxFor(c => c.ErrorListCode, new { @disabled = "disabled" })
                                @Html.HiddenFor(c => c.ErrorListCode)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(c => c.ErrorListName)
                            </div>
                            <div class="col-md-6">
                                @Html.RequiredTextboxFor(c => c.ErrorListName)
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.TooltipLabelFor(p => p.DepartmentId)
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownList("DepartmentId", null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.TooltipLabelFor(p => p.Personnel)
                                </div>
                                <div class="col-md-6">
                                    @Html.RequiredTextbox   For(p => p.Personnel)
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.OrderIndex)
                            </div>
                            <div class="col-md-6">
                                @Html.RequiredTextboxFor(p => p.OrderIndex)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.Actived)
                            </div>
                            <div class="col-md-6">
                                @Html.ActivedRadioButton(p => p.Actived)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.StepCode)
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("StepCode", LanguageResource.Dropdownlist_All)

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.TargetCode)
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("TargetCode", LanguageResource.Dropdownlist_All)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        //set event btn-save, btn-save-continue for btn-edit
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");

            numericInput();
        });

        function numericInput() {
            $('#OrderIndex').inputFilter(function (value) {
                return /^-?\d*$/.test(value);
            });
        }
    </script>
}



