@model List<SaleOrderItem100ViewModel>
<table class="table table-bordered table-striped table-hover table-responsive dataTable no-footer tableDetailItem">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().POSNR)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().MATNR)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ItemDescription)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().UPMAT)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ARKTX)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().BEDAE)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().WERKS)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().KBMENG)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().KLMENG)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().SOBKZ)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().PS_PSP_PNR_OUTPUT)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().UMVKZ)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().UMVKN)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().KLMENG)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().MEINS)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ABGRU)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().GBSTA)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ERDAT)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ERNAM)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().ERZET)</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td class="text-center">
                    <a href="~/MES/SaleOrderHeader100/ViewDetailSO?VBELN=@(item.VBELN)&POSNR=@(item.POSNR)">@Html.DisplayFor(p => item.POSNR)</a>

                    <div style="display: inline-flex; position: relative">
                        <a class="btn-showDetail dropdown-toggle"
                           title="View Detail"
                           data-toggle="dropdown"
                           data-id="@item.POSNR">
                            <i class="fa fa-eye"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-filter dropdown-menu-right mr-15 hidden"
                            style="left: 0; max-height: 200px; min-width: 300px; width: 1160px; margin-top: 0; padding: 0; overflow-x: scroll;"></ul>
                    </div>
                </td>
                <td class="text-center">@Html.DisplayFor(p => item.MATNR)</td>
                <td>@Html.DisplayFor(p => item.ItemDescription)</td>
                <td class="text-center">@Html.DisplayFor(p => item.UPMAT)</td>
                <td>@Html.DisplayFor(p => item.ARKTX)</td>
                <td>@Html.DisplayFor(p => item.BEDAE)</td>
                <td class="text-center">@Html.DisplayFor(p => item.WERKS)</td>
                <td class="text-right">@Html.DisplayFor(p => item.KBMENG)</td>
                <td class="text-right">@Html.DisplayFor(p => item.KLMENG)</td>
                <td>@Html.DisplayFor(p => item.SOBKZ)</td>
                <td class="text-right">@Html.DisplayFor(p => item.PS_PSP_PNR_OUTPUT)</td>
                <td class="text-right">@Html.DisplayFor(p => item.UMVKZ)</td>
                <td class="text-right">@Html.DisplayFor(p => item.UMVKN)</td>
                <td class="text-right">@Html.DisplayFor(p => item.KLMENG)</td>
                <td>@Html.DisplayFor(p => item.MEINS)</td>
                <td>@Html.DisplayFor(p => item.ABGRU)</td>
                <td>@Html.DisplayFor(p => item.GBSTA)</td>
                <td class="text-right">@Html.DisplayFor(p => item.ERDAT)</td>
                <td>@Html.DisplayFor(p => item.ERNAM)</td>
                <td class="text-right">@Html.DisplayFor(p => item.ERZET)</td>
            </tr>
        

        }
    </tbody>
</table>