@model IEnumerable<SaleOrderHeader100ViewModel>
@{
    string CurrentController = ConstController.SaleOrderHeader100;
    string CurrentArea = ConstArea.MES;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.VBELN)</th>
            <th>@Html.DisplayNameFor(p => p.AUART)</th>
            <th>@Html.DisplayNameFor(p => p.VKORG)</th>
            <th>@Html.DisplayNameFor(p => p.VTWEG)</th>
            <th>@Html.DisplayNameFor(p => p.SPART)</th>
            <th>@Html.DisplayNameFor(p => p.BSTNK)</th>
            <th>@Html.DisplayNameFor(p => p.KUNNR)</th>
            <th>@Html.DisplayNameFor(p => p.PS_PSP_PNR_OUTPUT)</th>
            <th>@Html.DisplayNameFor(p => p.LFGSK)</th>
            <th>@Html.DisplayNameFor(p => p.AUDAT)</th>
            <th>@Html.DisplayNameFor(p => p.ERNAM)</th>
            <th>@Html.DisplayNameFor(p => p.ERDAT)</th>
            <th>@Html.DisplayNameFor(p => p.ERZET)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
        <tr>
            <td class="text-center">@i</td>
            <td class=" text-center"><a href="~/MES/SaleOrderHeader100/ViewSO/@item.VBELN">@Html.DisplayFor(p => item.VBELN)</a></td>
            <td>@Html.DisplayFor(p => item.AUART)</td>
            <td class=" text-right">@Html.DisplayFor(p => item.VKORG)</td>
            <td class=" text-right">@Html.DisplayFor(p => item.VTWEG)</td>
            <td class=" text-right">@Html.DisplayFor(p => item.SPART)</td>
            <td>@Html.DisplayFor(p => item.BSTNK)</td>
            <td class=" text-right">@Html.DisplayFor(p => item.KUNNR)</td>
            <td class=" text-right">@Html.DisplayFor(p => item.PS_PSP_PNR_OUTPUT)</td>
            <td>@Html.DisplayFor(p => item.LFGSK)</td>
            <td class=" text-center">@Html.DisplayFor(p => item.AUDAT)</td>
            <td>@Html.DisplayFor(p => item.ERNAM)</td>
            <td class=" text-center">@Html.DisplayFor(p => item.ERDAT)</td>
            <td class=" text-center">@Html.DisplayFor(p => item.ERZET)</td>
            <td class="text-center"><a class="btn btn-info btn-edit" href="/MES/SaleOrderHeader100/ViewSO/@item.VBELN" onclick="$(this).button('loading')"><i class="fa fa-eye"></i> Xem</a></td>
        </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>


