@model HangTagViewModel
<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="">In thẻ treo pallet</h4>

        </div>
        <div class="modal-body">
            <div id="divAlertWarningTask" class="alert alert-warning alert-dismissable divPopupMessage" style="display: none">
                <button type="button" class="alert-close close" aria-hidden="true" data-div="divAlertWarning">×</button>
                <div class="alert-message">
                </div>
            </div>
            <form id="frmHangTag">
                <!--Số lần in-->
                @Html.HiddenFor(p => p.BatchPrinting)
                @Html.HiddenFor(p => p.CustomerReference)

                @Html.HiddenFor(x => x.CreatedUser, new { @Value = CurrentUser.UserName })
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelByPropertyNameFor(p => p.LSXDT, "LSX ĐT")
                        </div>
                        <div class="col-md-7 display-for">
                            @Html.DisplayFor(p => p.LSXDT)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelByPropertyNameFor(p => p.LSXD, "Đợt SX")
                        </div>
                        <div class="col-md-7 display-for">
                            @Html.DisplayFor(p => p.LSXD)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.MassProductionOrder)
                        </div>
                        <div class="col-md-7">
                            @Html.RequiredTextboxFor(p => p.MassProductionOrder, new { @readonly = "readonly" })
                        </div>
                    </div>
                    @*<div class="form-group">
            <div class="col-md-4">
                @Html.TooltipLabelFor(p => p.BatchPrinting)
            </div>
            <div class="col-md-4">
                @Html.RequiredTextboxFor(p => p.BatchPrinting, new { @readonly = "readonly" })
            </div>
        </div>*@
                    @if (!string.IsNullOrEmpty(Model.ProductSOCode))
                    {
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelByPropertyNameFor(p => p.ProductName, "Sản phẩm")
                            </div>
                            <div class="col-md-7 display-for">
                                @Html.DisplayFor(p => p.ProductSOCode) | @Html.DisplayFor(p => p.ProductSOName)
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelByPropertyNameFor(p => p.ProductName, "Sản phẩm/Cụm")
                        </div>
                        <div class="col-md-7 display-for">
                            @Html.DisplayFor(p => p.ProductCode) | @Html.DisplayFor(p => p.ProductName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelByPropertyNameFor(p => p.Qty, "Số lượng kế hoạch")
                        </div>
                        <div class="col-md-7 display-for">
                            @Html.DisplayFor(p => p.SL)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelByPropertyNameFor(p => p.ChiTiet, "Chi tiết")
                        </div>
                        <div class="col-md-7">
                            @Html.RequiredDropDownList("ChiTiet", null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.QuantityPrinted)
                        </div>
                        <div class="col-md-7">
                            @Html.RequiredTextboxFor(p => p.QuantityPrinted, new { @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.QuantityPrintMore)
                        </div>
                        <div class="col-md-7">
                            @Html.RequiredTextboxFor(p => p.QuantityPrintMore, new { @type = "number" })
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default float-left" data-dismiss="modal">Đóng</button>

            <button type="button" class="btn btn-primary float-right btn-print" onclick="$(this).button('loading')">In phiếu</button>
        </div>
    </div>
</div>
