@model ProductionOrderViewModel
@{
    ViewBag.Title = LanguageResource.ProductionOrder_LSXDT;
    string CurrentController = ConstController.ProductionOrder;
    string CurrentArea = ConstArea.MES;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
    <div class="pull-right">

    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                @using (Html.BeginForm("_Search", null, FormMethod.Post, new { @id = "frmSearch", @class = "isd-form-search" }))
                {
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelByPropertyNameFor(p => p.ZZLSX, LanguageResource.MES_ZZLSX)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(p => p.ZZLSX, new { @class = "form-control text-box single-line", @autocomplete = "off" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelByPropertyNameFor(p => p.KTDK, "KTDK")
                                    </div>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(p => p.KTDK, new { @class = "form-control text-box single-line", @type = "date" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelByPropertyNameFor(p => p.KTDC, "KTĐC")
                                    </div>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(p => p.KTDC, new { @class = "form-control text-box single-line", @type = "date" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-5">
                                        @HtmlExtensions.SearchButton()
                                        <a id="btn-export" class="btn btn-success" href="#"><i class="fa fa-download"></i> Export Excel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="delete-confirm"></div>
@section components{
    <div class="modal fade" id="divFunctionModal" role="dialog">

    </div>
}
@section scripts {
    <script>
        //load default and set event
        $(document).ready(function () {
            ISD.SearchInitial("@CurrentUrl", false, true);
            ISD.ShowMessage(window.location.href);
        });
        $(document).on("click", ".btn-print-popup", function () {
            loading2();
            var $btn = $(this);
            var id = $btn.data("id");

            $.ajax({
                type: "GET",
                url: '/@CurrentUrl/_PrintQRCode/' + id
            }).done(function (html) {
                $("#divFunctionModal").html(html);
                $('#divFunctionModal').modal('show');
                $btn.button('reset');
            });
        });

        $(document).on("click", ".btn-print", function () {
            loading2();
            var $btn = $(this);
            var form = $('#frmHangTag').serialize()
            $.ajax({
                type: "POST",
                url: '/@CurrentUrl/_PrintQRCode',
                data: form,
                success: function (xhr, status, error) {
                    $btn.button('reset');
                    if (xhr.Success === true) {
                        var MassProductionOrder = $('#MassProductionOrder').val();
                        var BatchPrinting = $('#BatchPrinting').val();
                        window.location.href = "/Reports/ReportHangTag/Index?MassProductionOrder=" + MassProductionOrder + "&BatchPrinting=" + BatchPrinting;
                    } else {
                        //Báo lỗi trên popup
                        ISD.setMessage("#divAlertWarningTask", xhr.Data);
                        $('#divFunctionModal #divAlertWarningTask').show();
                    }
                },
                error: function () {
                    $btn.button('reset');

                    $('.alert-message').html(json.Data);
                    $('#divAlertWarningTask').show();
                    }
                })
        });
        $(document).on("click", "#btn-export", function () {
        var $btn = $(this);
        $btn.button("loading");
        var arr = {};
        var data = $("#frmSearch").serializeArray();
        var obj = {};
        $.each(data, function (index, val) {
            obj[val.name] = val.value;
            $.extend(true, arr, obj)
        });
        //obj["TemplateId"] = $('#TemplateId').val();
        $.extend(true, arr, obj);
        ISD.Download("/@CurrentUrl/ExportExcel", arr);
        setTimeout(function () {
            $btn.button("reset");
        }, 5000);
    });
    </script>
}

