@model IEnumerable<WorkShopViewModel>
@{
    string CurrentArea = ConstArea.MasterData;
    string CurrentController = ConstController.WorkShop;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.WorkShopCode)</th>
            <th>@Html.DisplayNameFor(p => p.WorkShopName)</th>
            @*<th>@Html.DisplayNameFor(p => p.OrderIndex)</th>*@
            <th>@Html.DisplayNameFor(p => p.CompanyName)</th>
            <th>@Html.DisplayNameFor(p => p.StoreName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center isd-table-th-action">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.WorkShopCode)</td>
                <td>@Html.DisplayFor(p => item.WorkShopName)</td>
                @*<td>@Html.DisplayFor(p => item.OrderIndex)</td>*@
                <td>@Html.DisplayFor(p => item.CompanyName)</td>
                <td>@Html.DisplayFor(p => item.StoreName)</td>
                <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.WorkShopId)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>