@model SalesEmployeeModel

<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Chấm công</h4>
        </div>
        <form id="frmUpdateStatus">
            @Html.HiddenFor(p => p.SalesEmployeeCode)
            <div class="form-horizontal">
                <div class="modal-body">
                    <div id="divAlertPopupWarning" class="alert alert-warning alert-dismissable" style="display: none">
                        <button type="button" class="alert-close close" aria-hidden="true" data-div="divAlertPopupWarning">×</button>
                        <div class="alert-message">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-3">
                                @Html.TooltipLabelFor(p => p.SalesEmployeeCode)
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => p.SalesEmployeeCode, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-3">
                                @Html.TooltipLabelFor(p => p.SalesEmployeeName)
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => p.SalesEmployeeName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="btn btn-default" data-dismiss="modal">@LanguageResource.Btn_Cancel</span>
                    <a class="btn btn-primary pull-right" id="btn-save">
                        @LanguageResource.Btn_Save
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
