@model IEnumerable<AssignmentCongDoanViewModel>

<table id="tbl-cong-doan" class="table table-hover table-bordered table-striped">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@LanguageResource.Assignment_WorkShop</th>
            <th>@LanguageResource.Master_Department</th>
            <th>@LanguageResource.Assignment_Assignee</th>
            <th>@LanguageResource.Assignment_StepCode</th>
            <th>@LanguageResource.Assignment_StepName</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_CongDoanInner", Model)
    </tbody>
</table>
