@model IEnumerable<AssignmentCongDoanViewModel>
@{
    var WorkShopList = (SelectList)ViewBag.AssignmentWorkShopId;
    var DepartmentList = (SelectList)ViewBag.AssignmentDepartmentId;
    var EmployeeList = (SelectList)ViewBag.EmployeeCode;
    var RoutingList = (List<RoutingViewModel>)ViewBag.AssignmentRoutingId;
}
@if (Model != null && Model.Count() > 0)
{
    int i = 0, k = -1;
    foreach (var item in Model)
    {
        i++;
        k++;
        <tr>
            <td class="text-center">
                @i
                <input type="hidden" name="CongDoanList[@k].STT" value="@i" data-row="@k" />
            </td>
            <td>
                <select id="CongDoanList_WorkShopId_@k" name="CongDoanList[@k].WorkShopId" class="form-control with-search cong-doan-phan-xuong" data-row="@k">
                    @if (WorkShopList != null && WorkShopList.Count() > 0)
                    {
                        foreach (var workShop in WorkShopList)
                        {
                            var selected = string.Empty;
                            if (item.WorkShopId.HasValue)
                            {
                                if (workShop.Value == item.WorkShopId.ToString())
                                {
                                    selected = "selected";
                                }
                            }
                            else
                            {
                                if (workShop.Selected)
                                {
                                    selected = "selected";
                                }
                            }
                            <option value="@workShop.Value" @selected>@workShop.Text</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select id="CongDoanList_DepartmentId_@k" name="CongDoanList[@k].DepartmentId" class="form-control with-search cong-doan-to" data-row="@k">
                    @if (DepartmentList != null && DepartmentList.Count() > 0)
                    {
                        foreach (var department in DepartmentList)
                        {
                            var selected = string.Empty;
                            if (item.DepartmentId.HasValue)
                            {
                                if (department.Value == item.DepartmentId.ToString())
                                {
                                    selected = "selected";
                                }
                            }
                            else
                            {
                                if (department.Selected)
                                {
                                    selected = "selected";
                                }
                            }
                            <option value="@department.Value" @selected>@department.Text</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select id="CongDoanList_EmployeeCode_@k" name="CongDoanList[@k].EmployeeCode" class="form-control with-search cong-doan-nhan-vien" data-row="@k">
                    @if (EmployeeList != null && EmployeeList.Count() > 0)
                    {
                        foreach (var employee in EmployeeList)
                        {
                            var selected = string.Empty;
                            if (!string.IsNullOrEmpty(item.EmployeeCode))
                            {
                                if (employee.Value == item.EmployeeCode)
                                {
                                    selected = "selected";
                                }
                            }
                            else
                            {
                                if (employee.Selected)
                                {
                                    selected = "selected";
                                }
                            }
                            <option value="@employee.Value" @selected>@employee.Text</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select id="CongDoanList_RoutingId_@k" name="CongDoanList[@k].RoutingId" class="form-control with-search cong-doan-thuc-hien" data-row="@k">
                    @if (RoutingList != null && RoutingList.Count() > 0)
                    {
                        foreach (var routing in RoutingList)
                        {
                            var selected = string.Empty;
                            if (item.RoutingId.HasValue)
                            {
                                if (routing.StepId == item.RoutingId)
                                {
                                    selected = "selected";
                                }
                            }
                            <option value="@routing.StepId" @selected data-name="@routing.StepName">@routing.StepCode</option>
                        }
                    }
                </select>
            </td>
            <td>
                @{
                    var stepName = string.Empty;
                    if (string.IsNullOrEmpty(item.StepName) && RoutingList != null && RoutingList.Count > 0)
                    {
                        stepName = @RoutingList[0].StepName;
                    }
                    else
                    {
                        stepName = @item.StepName;
                    }
                }
                <input type="hidden" name="CongDoanList[@k].StepName" value="@stepName" />
                <span id="CongDoanList_StepName_@k">@stepName</span>
            </td>
            <td class="text-center">
                <a class="btn btn-danger btn-delete-cong-doan" data-stt="@i">Xóa</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="15" class="text-center">@LanguageResource.NoInsertRecord</td>
    </tr>
}
