@model IEnumerable<AssignmentLenhSanXuatViewModel>
@if (Model != null && Model.Count() > 0)
{
    int i = 0, k = -1;
    foreach (var item in Model)
    {
        i++;
        k++;
        <tr>
            <td class="text-center">
                @i
                <input type="hidden" name="LSXList[@k].STT" value="@i" data-row="@k" />
            </td>
            <td>
                <input type="text" class="form-control lsxdt" autocomplete="off" name="LSXList[@k].LSXDT" value="@item.LSXDT" data-row="@k" />
            </td>
            <td>
                <input type="text" class="form-control lsxd" autocomplete="off" name="LSXList[@k].LSXD" value="@item.LSXD" data-row="@k" />
                <input type="hidden" name="LSXList[@k].ProductionOrderBatch" value="@item.ProductionOrderBatch" data-row="@k" />
            </td>
            <td>
                <input type="text" class="form-control lsxc" autocomplete="off" name="LSXList[@k].LSXC" value="@item.LSXC" data-row="@k" />
                <input type="hidden" name="LSXList[@k].ProductionOrder" value="@item.ProductionOrder" data-row="@k" />
            </td>
            <td>
                <input type="text" class="form-control" name="LSXList[@k].ProductCode" value="@item.ProductCode" data-row="@k" readonly />
                @*<span id="LSXList_ProductCode_@k">@item.ProductCode</span>*@
                <input type="hidden" name="LSXList[@k].ProductId" value="@item.ProductId" data-row="@k" />
                <input type="hidden" name="LSXList[@k].CompanyCode" value="@item.CompanyCode" data-row="@k" />
            </td>
            <td>
                <span id="LSXList_ProductName_@k">@item.ProductName</span>
                <input type="hidden" name="LSXList[@k].ProductName" value="@item.ProductName" data-row="@k" />
            </td>
            <td>
                <input type="text" class="form-control item-code" autocomplete="off" name="LSXList[@k].ItemCode" value="@item.ItemCode" data-row="@k" />
            </td>
            <td>
                <span id="LSXList_ItemName_@k">@item.ItemName</span>
                <input type="hidden" name="LSXList[@k].ItemName" value="@item.ItemName" data-row="@k" />
            </td>
            <td>
                <input type="text" id="LSXList_Qty_@k" name="LSXList[@k].Qty" value="@item.Qty" class="so-luong-phan-cong form-control" />
            </td>
            <td class="text-center">
                @{
                    var check = string.Empty;
                }
                @if (item.IsCompleteBigStep == true)
                {
                    check = "checked";
                }
                <input type="checkbox" id="LSXList_IsCompleteBigStep_@k" name="LSXList[@k].IsCompleteBigStep" value="True" @check />
            </td>
            <td class="text-center">
                <a class="btn btn-danger btn-delete-lsx" data-stt="@i">Xóa</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="15" class="text-center">@LanguageResource.NoInsertRecord</td>
    </tr>
}
