@model IEnumerable<AssignmentNhanVienViewModel>

<table id="tbl-nhan-vien" class="table table-hover table-bordered table-striped">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@LanguageResource.Assignment_WorkShop</th>
            <th>@LanguageResource.Master_Department</th>
            <th>@LanguageResource.Assignment_EmployeeCode</th>
            <th>@LanguageResource.Assignment_EmployeeName</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            int i = 0, k = -1;
            foreach (var item in Model)
            {
                i++;
                k++;
        <tr>
            <td class="text-center">
                @i
                <input type="hidden" name="NVList[@k]" id="nv-@k" class="nhan-vien" value="@item.EmployeeCode"/>
            </td>
            <td>@item.WorkShop</td>
            <td>@item.Department</td>
            <td>@item.EmployeeCode</td>
            <td>@item.EmployeeName</td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10" class="text-center">@LanguageResource.NoRecordFound</td>
            </tr>
        }
    </tbody>
    @*<tbody>
            <tr>
                <td class="text-center">1</td>
                <td>PX1</td>
                <td>1</td>
                <td>N001-01</td>
                <td>Nguyễn Văn Hải</td>
                <td class="text-center"><i class="fa fa-check true-icon"></i></td>
                <td class="text-center">@HtmlExtensions.DeleteButton(CurrentArea, CurrentController, string.Empty, Guid.Empty)</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>PX1</td>
                <td>1</td>
                <td>N001-02</td>
                <td>Nguyễn Hải Phong</td>
                <td class="text-center"></td>
                <td class="text-center">@HtmlExtensions.DeleteButton(CurrentArea, CurrentController, string.Empty, Guid.Empty)</td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>PX1</td>
                <td>3</td>
                <td>N001-03</td>
                <td>Đỗ Văn Chinh</td>
                <td class="text-center"></td>
                <td class="text-center">@HtmlExtensions.DeleteButton(CurrentArea, CurrentController, string.Empty, Guid.Empty)</td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td>PX1</td>
                <td>3</td>
                <td>N001-04</td>
                <td>Đỗ Văn Chiêu</td>
                <td class="text-center"></td>
                <td class="text-center">@HtmlExtensions.DeleteButton(CurrentArea, CurrentController, string.Empty, Guid.Empty)</td>
            </tr>
        </tbody>*@
</table>
