@model IEnumerable<DepartmentViewModel>
@{
    string CurrentController = ConstController.Department;

    string CurrentArea = ConstArea.MasterData;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    bool isHasPermissionPrint = HtmlExtensions.GetPermission(CurrentUrl, ConstFunction.PRINT);

}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.DepartmentCode)</th>
            <th>@Html.DisplayNameFor(p => p.DepartmentName)</th>
            <th>@Html.DisplayNameFor(p => p.WorkshopName)</th>
            @*<th>@Html.DisplayNameFor(p => p.EquipmentCode)</th>*@
            <th>@Html.DisplayNameFor(p => p.EquipmentName)</th>
            <th>@Html.DisplayNameFor(p => p.DepartmentType)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.DepartmentCode)</td>
                <td>@Html.DisplayFor(p => item.DepartmentName)</td>
                <td>@Html.DisplayFor(p => item.WorkshopName)</td>
                @*<td>
                        <div style="width: 380px;overflow: hidden; text-overflow: ellipsis;"
                             title="@Html.DisplayFor(p => item.EquipmentCode)">
                            @Html.DisplayFor(p => item.EquipmentCode)
                        </div>
                    </td>*@
                <td>
                    <div style="width: 380px;overflow: hidden; text-overflow: ellipsis;"
                         title="@Html.DisplayFor(p => item.EquipmentName)">
                        @Html.DisplayFor(p => item.EquipmentName)
                    </div>
                </td>

                <td>@Html.DisplayFor(p => item.DepartmentType)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.DepartmentId)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.DepartmentName, item.DepartmentId)

                    @if ((isHasPermissionPrint == true))
                    {
                        <a class='btn btn-success btn-print' data-id='@item.DepartmentId' href='#'> <i class='fa fa-print'></i> In QRCode</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>


