@model ContentEditViewModel
@using MvcCheckBoxList.Model

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.Content.ToLower();
    ViewBag.Type = "Account";
    string CurrentController = ConstController.Content;
    string CurrentArea = ConstArea.Marketing;
    string BaseAddress = ConstantApi.BaseAddress;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string ApiUrl = BaseAddress + CurrentUrl + "s/";
    string EditBy = CurrentUser.AccountId.ToString();
    var id = ViewBag.Id;
    //bool isHasPermissionExport = HtmlExtensions.GetPermission(CurrentUrl, ConstFunction.Import, "?Type=" + ViewBag.Type);
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @HtmlExtensions.BackButton(CurrentArea, CurrentController)
    </h1>
    <div class="pull-right">
        @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
    </div>
</div>



<div class="content">
    <div class="form-horizontal">
        <div class="box panel-group">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(p => p.Id)
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.ContentCode)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredTextboxFor(p => p.ContentCode, new { disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.ContentName)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredTextboxFor(p => p.ContentName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.FromEmailAccount)
                        </div>
                        <div class="col-md-8">
                            <select class="with-search" id="FromEmailAccountId" name="FromEmailAccountId">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.SenderName)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredTextboxFor(p => p.SenderName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.CompanyCode)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredDropDownListFor(s => s.CompanyCode, null, LanguageResource.Dropdownlist_Choose)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.SaleOrg)
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(s => s.SaleOrg, null, LanguageResource.Dropdownlist_Choose,new {@class ="with-search"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.Subject)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredTextboxFor(p => p.Subject)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.Actived)
                        </div>
                        <div class="col-md-7">
                            @Html.ActivedRadioButton(p => p.Actived)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="Param">Tham số cho nội dung gửi</label></div>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBox("Param", null, new { @Value = "##FullName##", @class = "form-control text-box single-line", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.Content)
                        </div>
                        <div class="col-md-4">
                            <input id="addFile" type="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(p => p.Content)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p id="createBy" class="last-mod">
                        </p>
                        <p id="lastEditBy" class="last-mod">
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div id="exTab1" class="nav-tabs-custom">
                <ul class="nav nav-pills nav nav-tabs">
                    <li class="active">
                        <a href="#tab-thay-doi" aria-expanded="true" data-toggle="tab">@LanguageResource.ChangeDataLog</a>
                    </li>
                    @*<li>
                            <a href="#tab-thay-doi1" data-toggle="tab">@LanguageResource.Report</a>
                        </li>*@
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="tab-thay-doi">
                        @Html.Action("_List", "ChangeDataLog", new { area = "Utilities", @id = id })
                    </div>
                    @*<div class="tab-pane" id="tab-thay-doi1">
                            <p>Thống kê</p>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/Plugin/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Marketing/Scripts/ISDNET5Common.js"></script>
    <script>
        var currentUser = "@CurrentUser.AccountId";

        $(document).ready(function () {

            ISDNET5.LoadEmailAccount();
             ISDNET5.EditInitial("@CurrentUrl");


            ISDNET5.InitCkeditorForEmailContent();
            //ISDNET5.LoadSaleOrg();
        });
        $(document).on("change", "#Content", function () {          
            var data = $('#Content').val();
            CKEDITOR.instances.Content.setData(data);
        });
    </script>
}

