@model IEnumerable<SerialSearchResultViewModel>

<table class="table table-bordered table-striped table-hover searchTable no-footer" style="margin-bottom:0px !important">
    <thead class="isd-table-header">
        <tr>
            <th></th>
            <th>@LanguageResource.PrintMoldCode</th>
            <th>@LanguageResource.Serial</th>
            <th>Tình trạng</th>

            <th>@LanguageResource.Specifications_Length</th>
            <th>@LanguageResource.Specifications_Width</th>
            <th>@LanguageResource.Specifications_Height</th>
            <th>@LanguageResource.Specifications_Overalls</th>
            <th>@LanguageResource.Specifications_Side</th>

            <th>@LanguageResource.PrintMoldFilm</th>
            <th>@LanguageResource.PrintMoldName</th>
            <th>Kho khuôn</th>
            <th>@LanguageResource.Bin</th>
            <th>Ngày bảo trì tiếp theo</th>
            <th>Số lần dập</th>
            <th>@LanguageResource.Note</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {

            foreach (var item in Model)
            {
                <tr>
                    @if (item.Status == "BT")
                    {
                        <td style="background-color:red"></td>
                        <td style="cursor:pointer">@item.ProductCode</td>
                    }
                    else
                    {
                        <td style="background-color:green"></td>
                        <td><a data-serial-number="@item.Serial" style="cursor:pointer" class="btn-select-serial">@item.ProductCode</a></td>
                    }
                    <td>@item.Serial</td>

                    <td>@item.StatusName</td>
                    <td>@item.Specifications_Length</td>
                    <td>@item.Specifications_Width</td>
                    <td>@item.Specifications_Height</td>
                    <td>@item.Specifications_Overalls</td>
                    <td>@item.Specifications_Side</td>

                    <td>@item.PrintMoldFilm</td>
                    <td>@item.PrintMoldName</td>
                    <td>@item.MoldStorage</td>
                    <td>@item.Bin</td>
                    <td>@item.LastMaintenanceDate.Value.AddDays((double)item.NumberMaintenanceDateAlert).ToString("dd/MM/yyyy")</td>
                    <td>@item.StamQty</td>
                    <td>@item.Description</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@LanguageResource.NoRecordFound</td>
            </tr>
        }
    </tbody>
</table>