@model WorkOrderViewModel
@{
    ViewBag.Title = "Chọn Serial";
    string CurrentController = ConstController.WorkOrder;
    string CurrentArea = ConstArea.Work;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    bool isHasPermissionEdit = HtmlExtensions.GetPermission(CurrentUrl, ConstFunction.Edit);

}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
        @HtmlExtensions.BackButton(CurrentArea, CurrentController)
    </h1>
    <div class="pull-right">
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <table class="table table-bordered table-striped table-hover dataTableServerSide no-footer">
                    <thead class="isd-table-header">
                        <tr>
                            @* STT *@
                            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                            @* Mã khuôn *@
                            <th class="text-center">Mã khuôn</th>
                            @*Số Serial *@
                            <th class="text-center">Số Serial</th>
                            @* Hành động *@
                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int stt = 0;
                            foreach (var item in (List<WorkOrder_Mold_Mapping>)ViewBag.LstMold)
                            {
                                stt++;
                                <tr>
                                    @* STT *@
                                    <th class="text-center isd-table-th-stt" data-id="@item.Id">@stt</th>
                                    @* Mã khuôn *@
                                    <th class="text-center">@item.MoldCode</th>
                                    @*Số Serial *@
                                    <th class="text-center" id="serial_@stt">@item.SerialNumber</th>
                                    @* Hành động *@
                                    <th class="text-center"><a class="btn btn-primary btn-show-serial" data-select-row="serial_@stt" data-id="@item.Id" data-code="@item.MoldCode"><i class="fa fa-edit"></i></a></th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default" style="margin-top:2%">
                <div class="" id="divSearchResult">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="delete-confirm"></div>
<div class="loading-modal"></div>

@section components {
    <div class="divSerialPopup"></div>
}

@section scripts {
    <script>
        var selectRowId = null;
        var selectMappingId = null;
        $(document).on('click', '.btn-show-serial', function () {
            var code = $(this).data('code');
            //Gọi đến Action lấy partialView của kết quả
            selectRowId = $(this).data('select-row');
            selectMappingId = $(this).data('id');

            $.ajax({
                type: "GET",
                url: "/Work/WorkOrder/_GetListSerialByMoldCode",
                data: {
                    code: code
                },
                success: function (html) {
                    $("#divSearchResult").html('');
                    $("#divSearchResult").html(html);
                }
            });
        });


        $(document).on('click', '.btn-select-serial', function () {
            var data = $(this).data('serial-number');
            // cập nhật lại số Mold và hiển thị

            $.ajax({
                type: "POST",
                url: "/Work/WorkOrder/SetWorkOrderPrintMoldSerial",
                data: {
                    printMoldMappingId: selectMappingId,
                    serial: data
                },
                success: function (apiResult) {
                    if (apiResult.success = true) {
                        selectRowId = null; selectMappingId = null;
                        $("#divSearchResult").html('');
                        $("#" + selectRowId).html(data);

                        alertPopup(true, apiResult.message);
                    } else {
                        alertPopup(false, apiResult.message);
                    }
                }
            });
        })
    </script>
}
