@model NewsModel

@{
    ViewBag.Title = LanguageResource.Details + " " + LanguageResource.MasterData_News.ToLower();
    string CurrentController = ConstController.News;
    string CurrentArea = ConstArea.MasterData;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm("Detail", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmView" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.NewsId)
    @Html.HiddenFor(p => p.NewsCode)

    <div class="content-header clearfix">
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-left: 3%">
                        <h3>@Model.Title</h3>
                        <div id="newsdetail" style="overflow-x: scroll">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("#CustomerLevelId").prop("disabled", true);
            $("#CustomerId").prop("disabled", true);
        });
    </script>
}


