@model CapacityRegisterViewModel

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.MasterData_CapacityRegister.ToLower();
    string CurrentController = ConstController.CapacityRegister;
    string CurrentArea = ConstArea.MasterData;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c => c.CapacityRegisterId)
    @Html.HiddenFor(c => c.WorkShopCode)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.WorkShopCode)
                            </div>
                            <div class="col-md-6">
                                @Html.RequiredTextboxFor(p => p.WorkShopName, new { @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.Year)
                            </div>
                            <div class="col-md-2">
                                @Html.RequiredTextboxFor(p => p.Year, new { @readonly = "readonly" })
                            </div>
                            <div class="col-md-2">
                                @Html.TooltipLabelFor(p => p.Month)
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("Month", null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.Capacity)
                            </div>
                            <div class="col-md-2">
                                @Html.RequiredTextboxFor(p => p.Capacity, new { @autocomplete = "off" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        //set event btn-save, btn-save-continue for btn-edit
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");

            numericInput();

            var capacity = $("#Capacity").val();
            if (capacity) {
                $("#Capacity").val(parseFloat(capacity).toFixed(2));
            }
        });

        function numericInput() {
            $('#Year').inputFilter(function (value) {
                return /^-?\d*$/.test(value);
            });
            $('#Month').inputFilter(function (value) {
                return /^-?\d*$/.test(value);
            });
            $('#Capacity').inputFilter(function (value) {
                return /^-?\d*[.,]?\d*$/.test(value);
            });
        }
    </script>
}



