@model List<FileAttachmentViewModel>
<div class="content-header clearfix">
    
    <div class="pull-right">
        <a class="btn bg-blue btn-add-file"><i class="fa fa-plus-square"></i> @LanguageResource.Btn_Create</a>
    </div>
    <div>
        <h1 class="text-center font-weight-bold">THÔNG TIN BẢN VẼ</h1>
    </div>
</div>
<div class="content overflow-x-scroll" id="contentTaskProduct">
    <table class="table table-bordered table-striped table-hover no-footer">
        <thead class="isd-table-header">
            <tr>
                <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                @if (ViewBag.IsMold)
                {
                    <th class="text-center">@LanguageResource.DrawingMoldCode</th>
                }
                else
                {
                    <th class="text-center">@LanguageResource.DrawingCode</th>

                }
                <th>@LanguageResource.Drawing_FileUrl</th>
                @*                <th class="text-center">@LanguageResource.Drawing_FileAttachmentName</th>*@
                <th class="text-center">@LanguageResource.DrawingNote</th>
                <th class="text-center isd-table-th-action" style="width: 220px;">@LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody class="div-list-file">
            @Html.Partial("_ListAttactment", Model)
        </tbody>
    </table>
</div>
