@model ProductViewModel

<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.CompanyId)
    </div>
    <div class="col-md-6">
        @Html.DropDownList("CompanyId", null, new { @class = " form-control with-search", @disabled = true })
    </div>
</div>


<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.ParentCategoryId)
    </div>
    <div class="col-md-6">
        @Html.DropDownList("ParentCategoryId", null, new { @class = " form-control with-search", @disabled = true })
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.CategoryId)
    </div>
    <div class="col-md-6">
        @Html.DropDownList("CategoryId", null, null, new { @class = " form-control with-search", @disabled = true })
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.CategoryDetailId)
    </div>
    <div class="col-md-6">
        @Html.DropDownList("CategoryDetailId", null, null, new { @class = " form-control with-search", @disabled = true })
    </div>
</div>

@*<div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.ERPProductCode)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.ERPProductCode)
        </div>
    </div>*@

<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.ProductCode)
    </div>
    <div class="col-md-6">
        @Html.RequiredTextboxFor(p => p.ProductCode, new { @readonly = true })

    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.ProductName)
    </div>
    <div class="col-md-6">
        @Html.RequiredTextboxFor(p => p.ProductName, new { @readonly = true })
    </div>
</div>


@*
        <div class="form-group">
            <div class="col-md-3">
                @Html.TooltipLabelFor(p => p.Unit)
            </div>
            <div class="col-md-9">
                @Html.RequiredTextboxFor(p => p.Unit)
            </div>
        </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Color)
        </div>
        <div class="col-md-6">
            @Html.DropDownList("Color", null, LanguageResource.Dropdownlist_Choose, new { @class = " form-control with-search" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Price)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Price)
        </div>
    </div>*@

<div class="form-group">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="btn btn-default btn-seemore" style="width: 100%;display:none">
            @LanguageResource.SeeMore
        </div>
    </div>
</div>
@if (ViewBag.IsMold)
{

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Serial)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Serial, new { @readonly = true })
        </div>
    </div>

    @*<div class="form-group">
            <div class="col-md-3">
                @Html.TooltipLabelFor(p => p.Specifications_Length)
            </div>
            <div class="col-md-6">
                @Html.RequiredTextboxFor(p => p.Specifications_Length, new { @readonly = true })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.TooltipLabelFor(p => p.Specifications_Width)
            </div>
            <div class="col-md-6">
                @Html.RequiredTextboxFor(p => p.Specifications_Width, new { @readonly = true })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.TooltipLabelFor(p => p.Specifications_Height)
            </div>
            <div class="col-md-6">
                @Html.RequiredTextboxFor(p => p.Specifications_Height, new { @readonly = true })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.TooltipLabelFor(p => p.Specifications_Overalls)
            </div>
            <div class="col-md-6">
                @Html.RequiredTextboxFor(p => p.Specifications_Overalls, new { @readonly = true })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.TooltipLabelFor(p => p.Specifications_Side)
            </div>
            <div class="col-md-6">
                @Html.RequiredTextboxFor(p => p.Specifications_Side, new { @readonly = true })
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Specifications)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Specifications, new { @readonly = true })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.ProductPerMold)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.ProductPerMold, new { @readonly = true })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.PrintMoldFilm)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.PrintMoldFilm, new { @readonly = true })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.PrintMoldName)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.PrintMoldName, new { @readonly = true })
        </div>
    </div>

    @*<div class="form-group">
            <div class="col-md-3">
                @Html.TooltipLabelFor(p => p.PrintMoldDate)
            </div>
            <div class="col-md-6">
                @Html.RequiredTextboxFor(p => p.PrintMoldDate, "{0:yyyy-MM-dd}", new { type = "date", @readonly = true })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Bin)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Bin, new { @readonly = true })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.LocationNote)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.LocationNote)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Status)
        </div>
        <div class="col-md-6">
            @Html.DropDownList("Status", null, null, new { @class = " form-control with-search" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.LastMaintenanceDate)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.LastMaintenanceDate, "{0:yyyy-MM-dd}", new { type = "date" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.MaintenanceAlert)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.MaintenanceAlert)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.StampQuantity)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.StampQuantity, new { @readonly = true })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.CurrentStampeQuantity)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.CurrentStampeQuantity)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.StampQuantityAlert)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.StampQuantityAlert)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Description)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Description, new { @disabled = true })
        </div>
    </div>
}
else
{
    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Size)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Size, new { @disabled = true })
        </div>
    </div>
    @*<div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Size_Height)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Size_Height, new { @readonly = true })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.Size_Width)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.Size_Width, new { @readonly = true })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.SpreadSize_Height)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.SpreadSize_Height, new { @readonly = true })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.TooltipLabelFor(p => p.SpreadSize_Width)
        </div>
        <div class="col-md-6">
            @Html.RequiredTextboxFor(p => p.SpreadSize_Width, new { @readonly = true })
        </div>
    </div>*@
}




<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.Actived)
    </div>
    <div class="col-md-6">
        @Html.ActivedRadioButton(p => p.Actived)
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        @Html.TooltipLabelFor(p => p.ImageUrl)
    </div>
    <div class="col-md-9">
        @Html.RequiredTextboxFor(p => p.ImageUrl, new { type = "file" })
        @if (Model.ImageUrl != null)
        {
            <img id="image-edit-view" src="/Upload/Category/@Model.ImageUrl" />
        }
    </div>
</div>
