@model SearchRoutingViewModel


<div class="panel panel-default isd-panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-business-planRouting" aria-expanded="true" class="">Tìm kiếm Routing</a>
        </h4>
    </div>
    <div id="collapse-business-planRouting" class="panel-collapse collapse in" aria-expanded="true" style="">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.Version)
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("Version", null, LanguageResource.Dropdownlist_All, new { @class = " form-control with-search" })
                            @*@Html.RequiredTextboxFor(p => p.Version, new { type = "number", @Value = "1", Min = "1" })*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-5">
                        <a id="btn-searchRouting" class="btn btn-primary" style="margin-left: 10px;"><i class="fa fa-refresh"></i> Tìm kiếm Routing</a>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divSearchResultRouting">
    <table id="tbl-Routing-Detail" class="table table-bordered table-striped table-hover table-responsive-lg dataTable no-footer dataTableServerSideRouting">
        <thead class="isd-table-header">
            <tr>
                @*<th class="text-center">@LanguageResource.NumberIndex</th>*@
                <th class="text-center">@LanguageResource.Routing_Version</th>
                <th class="text-center">@LanguageResource.ProductCode_Routing</th>
                <th class="text-center">@LanguageResource.ProductName_Routing</th>
                <th class="text-center">@LanguageResource.OrderIndex_Routing</th>
                <th class="text-center">@LanguageResource.PlantRouting_PlantRoutingCode</th>
                <th class="text-center">@LanguageResource.PlantRouting_PlantRoutingName</th>
                <th class="text-center">@LanguageResource.ProductionGuide</th>
                <th class="text-center">@LanguageResource.EstimateComplete</th>
                <th class="text-center">@LanguageResource.RatedTime</th>
                <th class="text-center">@LanguageResource.PrintMold</th>
                <th class="text-center">@LanguageResource.ProductPerMold</th>

            </tr>
        </thead>
    </table>
</div>
