@model SearchBOMViewModel

<div class="panel panel-default isd-panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-business-plan" aria-expanded="true" class="">Tìm kiếm BOM</a>
        </h4>
    </div>
    <div id="collapse-business-plan" class="panel-collapse collapse in" aria-expanded="true" style="">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.Version)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredTextboxFor(p => p.Version, new { type = "number", @Value = "1", Min = "1" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.CommonDate)
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(p => p.CommonDate, null, new { @class = "form-control with-search" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Create">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.FromDate)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredTextboxFor(p => p.FromDate, "{0:yyyy-MM-dd}", new { type = "date" })
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.TooltipLabelFor(p => p.ToDate)
                        </div>
                        <div class="col-md-8">
                            @Html.RequiredTextboxFor(p => p.ToDate, "{0:yyyy-MM-dd}", new { type = "date" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-5">
                        <a id="btn-searchBOM" class="btn btn-primary" style="margin-left: 10px;"><i class="fa fa-refresh"></i> Tìm kiếm BOM</a>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-header clearfix">
    <div class="pull-right">
        <a class="btn btn-success" id="btn-export-BOM">Export Excel</a>
    </div>
</div>
<div id="divSearchResultBOM">
    <table id="tbl-BOM-Detail" class="table table-bordered table-striped table-hover table-responsive-lg dataTable no-footer dataTableServerSide">
        <thead class="isd-table-header">
            <tr>
                @*<th class="text-center">@LanguageResource.NumberIndex</th>*@
                <th class="text-center">Phiên bản</th>
                <th class="text-center">Mã thành phẩm</th>
                <th class="text-center">Tên thành phẩm</th>
                <th class="text-center">Mã TP/BTP</th>
                <th class="text-center">Tên thành phẩm/bán thành phẩm</th>
                <th class="text-center">STT</th>
                <th class="text-center">Mã nguyên liệu</th>
                <th class="text-center">Tên nguyên liệu</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Đơn vị tính</th>
                <th class="text-center">Cần phát LSX</th>
            </tr>
        </thead>
    </table>
</div>


