@model QualityControlInformationMappingViewModel
@{
    var qcInfoList = (List<QualityControlInformationViewModel>)ViewBag.QCInfoList;
    var i = ViewBag.index;
}
<tr class="row-info-@i">
    <td rowspan="2" class="text-center">
        @(i+1)
        <input type="hidden" name="QualityControlInformationViewModel[@i].QualityControl_QCInformation_Id" value="@Guid.Empty" />
    </td>
    <td>
        <select name="QualityControlInformationViewModel[@i].QualityControlInformationId" class="form-control">
            <option value="">@LanguageResource.Dropdownlist_Choose</option>
            @if (qcInfoList != null)
            {
                foreach (var item in qcInfoList)
                {
                    <option value="@item.Id">@item.Name</option>

                }
            }
        </select>
    </td>
    <td colspan="3">
        <input type="text" name="QualityControlInformationViewModel[@i].Notes" class="form-control" />
    </td>
</tr>
<tr class="row-info-@i">
    <td colspan="3">
        <input type="file" name="QualityControlInformationViewModel[@i].File" multiple style="width: 80%!important" />
    </td>
    <td>
        <a class="btn btn-sm btn-danger btn-remove-info" data-row="@i">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </td>
</tr>
