@model List<FileAttachmentViewModel>
@{
    var Title = ViewBag.Title;
}
<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@Title</h5>
        </div>
        <div class="modal-body">
            <div class="content overflow-x-scroll">
                <table class="table table-bordered table-striped table-hover no-footer">
                    <thead class="isd-table-header">
                        <tr>
                            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                            <th class="text-center"></th>
                            @*<th>@LanguageResource.FileAttachmentName</th>
                            <th class="text-center">@LanguageResource.FileAttachmentCode</th>*@
                            <th class="text-center">@LanguageResource.CreateTime</th>
                            <th class="text-center isd-table-th-action">@LanguageResource.Actions</th>
                        </tr>
                    </thead>
                    <tbody class="div-list-file">
                        @Html.Partial("_ListImage", Model)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

