@model List<QualityControlErrorViewModel>
@{
    var errorList = (List<CatalogViewModel>)ViewBag.ErrorList;
}
<table class="table table-bordered table-boderless table-striped table-responsive table-qc-error table-sm" style="border: 1px solid #e3e3e3;">
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            for (int i = 0; i < Model.Count(); i++)
            {
                <tr class="row-error-@i">
                    <th rowspan="5" class="text-center">
                        @(i+1)
                        @Html.Hidden("errorViewModel[" + i + "].QuanlityControl_Error_Id", Model[i].QuanlityControl_Error_Id)
                    </th>
                    <th style="width: 55%; padding: 3px;">Danh sách lỗi</th>
                    <th colspan="3" style="width: 45%; padding: 3px;">Số lượng lỗi</th>
                </tr>
                <tr class="row-error-@i">
                    <td>
                        <select name="errorViewModel[@i].CatalogCode" class="form-control">
                            <option value="">@LanguageResource.Dropdownlist_Choose</option>
                            @if (Model[i].CatalogCode != null)
                            {
                                <option value="@Model[i].CatalogCode" selected>@(Model[i].CatalogCode + " | " +Model[i].CatalogText_vi)</option>
                            }
                            @if (errorList != null)
                            {
                                foreach (var item in errorList.Where(x => x.CatalogCode != Model[i].CatalogCode).ToList())
                                {
                                    <option value="@item.CatalogCode">@item.CatalogText_vi</option>

                                }
                            }
                        </select>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("errorViewModel[" + i + "].QuantityError", string.Format("{0:n0}", Model[i].QuantityError), new { @Type = "number", @Class = "form-control" })
                    </td>
                </tr>
                <tr class="row-error-@i">
                    <th>Mức độ lỗi</th>
                    <th colspan="3">@LanguageResource.Notes</th>
                </tr>
                <tr class="row-error-@i">
                    <td>
                        @Html.TextBox("errorViewModel[" + i + "].LevelError", Model[i].LevelError, new { @Class = "form-control" })
                    </td>
                    <td colspan="3">
                        @Html.TextBox("errorViewModel[" + i + "].Notes", Model[i].Notes, new { @Class = "form-control" })
                    </td>
                </tr>
                <tr class="row-error-@i">
                    <td colspan="2">
                        <input type="file" name="errorViewModel[@i].File" multiple style="width: 80%!important" />
                    </td>
                    <td>
                        @if (Model[i].ErrorFileViewModel != null && Model[i].ErrorFileViewModel.Count() > 0)
                        {
                            <a class="btn btn-sm btn-info btn-show-image" data-type="QCERROR" data-id="@Model[i].QuanlityControl_Error_Id"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                        }
                    </td>
                    <td>
                        @if (Model[i].QuanlityControl_Error_Id != null && Model[i].QuanlityControl_Error_Id != Guid.Empty)
                        {
                            <a class="btn btn-sm btn-danger btn-remove-error" data-row="@i" data-id="@Model[i].QuanlityControl_Error_Id">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        }

                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="row-error-0">
                <th rowspan="5" class="text-center">
                    1
                </th>
                <th style="width: 55%; padding: 3px;">Danh sách lỗi</th>
                <th colspan="3" style="width: 45%; padding: 3px;">Số lượng lỗi</th>
            </tr>
            <tr class="row-error-0">
                <td>
                    @Html.DropDownList("CatalogCode", null, LanguageResource.Dropdownlist_Choose, new { @Name = "errorViewModel[0].CatalogCode", @Class = "form-control" })
                </td>
                <td colspan="3">
                    @Html.TextBox("errorViewModel[0].QuantityError", null, new { @Type = "number", @Class = "form-control" })
                </td>
            </tr>
            <tr class="row-error-0">
                <th>Mức độ lỗi</th>
                <th colspan="3">@LanguageResource.Notes</th>
            </tr>
            <tr class="row-error-0">
                <td>
                    @Html.TextBox("errorViewModel[0].LevelError", null, new { @Class = "form-control" })
                </td>
                <td colspan="3">
                    @Html.TextBox("errorViewModel[0].Notes", null, new { @Class = "form-control" })
                </td>
            </tr>
            <tr class="row-error-0">
                <td colspan="4">
                    <input type="file" name="errorViewModel[0].File" multiple style="width: 80%!important" />
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td colspan="2">
                <a class="btn btn-success btn-add-row-error pull-right"><i class="fa fa-plus" aria-hidden="true"> Thêm</i></a>
            </td>
        </tr>
    </tfoot>
</table>

