@model QualityControlViewModel
<style>
    .pr-0 {
        padding-right: 0 !important;
    }

    .pt-2 {
        padding-top: 2px !important;
    }

    .p-2 {
        padding: 2px !important;
    }

    input.form-control.text-box.single-line {
        padding: 0 !important;
        text-align: center;
    }

    .box-primary .form-group {
        min-height: 30px !important;
    }
</style>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Phiếu @LanguageResource.QualityControl</h5>
        </div>
        <div class="modal-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(p => p.QualityControlId)
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">Thông tin LSX</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Đợt sản xuất: ")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    DT-48-06/22
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "LSX Tổng hợp: ")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    DT-48-06/22-01
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Lệnh sản xuất :")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    5001000086
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Thành phẩm:")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    Hộp Tempura Shrimp Box
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Số lượng:")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    35,600 Cái
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Thông tin ghi nhận</div>
                    <div class="panel-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <div class="col-md-4 col-xs-5">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Ngày sản xuất: ")
                                </div>
                                <div class="col-md-4 col-xs-5">
                                    <input name="WorkDate" class="form-control text-box single-line" type="date" value="@string.Format("{0:yyyy-MM-dd}",new DateTime(2022, 06, 14))">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Máy móc /chuyền sử dụng: ")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    Chuyền
                                </div>
                            </div>

                            <div class="department-barcode">




                                <div class="form-group">
                                    <div class="col-md-4 col-xs-5">
                                        @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Tổ sản xuất: ")
                                    </div>
                                    <div class="col-md-4 col-xs-5 department">
                                        <select class="form-control">
                                            <option value="">Bế</option>
                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="col-md-4 col-xs-5">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Công đoạn hoàn thành: ")
                                </div>
                                <div class="col-md-8 col-xs-12 display-for">
                                    Bế
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Số người trong ca: ")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    5
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Nhân viên ghi nhận: ")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    <i>Nguyễn Văn Hòa - 11:35 15/06/2022</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Sản phẩm/ Bán thành phẩm ghi nhận</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <table class="table table-bordered table-responsive dataTable table-sm">
                                <tbody>
                                    <tr>
                                        <th>
                                            Số lượng
                                        </th>
                                        <td>
                                            Đạt
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="input-group input-group-required">
                                                <input name="Quantity_D" class="form-control" type="text" step="1" value="10,000" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            Không đạt
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="input-group input-group-required">
                                                <input name="Quantity_D" class="form-control text-box single-line" type="number" step="1" value="0" readonly>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Thời gian
                                        </th>
                                        <td>
                                            Từ
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="input-group input-group-required">
                                                <input name="FromTime" class="form-control text-box single-line" type="time" value="07:30" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            Đến
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="input-group input-group-required">
                                                <input name="productionOrderDetailOld[0].ToTime" class="form-control text-box single-line" type="time" value="11:30" readonly>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Thông tin kiểm tra</div>
                    <div class="panel-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <div class="col-md-4 col-xs-5">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Thời gian kiểm tra: ")
                                </div>
                                <div class="col-md-4 col-xs-5">
                                    12:32 15/06/2022
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Nhân viên kiểm tra: ")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    Chị Nhàn
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-xs-5 pr-0">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Loại kiểm tra: ")
                                </div>
                                <div class="col-md-8 col-xs-7 display-for">
                                    Trong chuyền sản xuất
                                </div>
                            </div>

                            <div class="department-barcode">
                                <div class="form-group">
                                    <div class="col-md-4 col-xs-5">
                                        @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Phương pháp thử: ")
                                    </div>
                                    <div class="col-md-4 col-xs-5 department">
                                        <select class="form-control">
                                            <option value="">Ngẫu nhiên</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-xs-5">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Số lượng kiểm tra: ")
                                </div>
                                <div class="col-md-4 col-xs-5">
                                    <input name="Quantity" class="form-control" type="number" value="5">
                                </div>
                                <div class="col-md-4 col-xs-5 display-for">
                                    Tờ
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-4 col-xs-5">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Hình ảnh: ")
                                </div>
                                <div class="col-md-4 col-xs-5">
                                    <input type="file" name="File" multiple="" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-xs-5">
                                    @Html.LabelByPropertyNameFor(p => p.LSXSAP, "Kết quả: ")
                                </div>
                                <div class="col-md-4 col-xs-5">
                                    <input name="Result" class="form-control" type="text" value="Đạt">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Thông tin kiểm tra chi tiết</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <table class="table table-bordered table-responsive dataTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th>Thời gian kiểm tra</th>
                                        <th>Hình ảnh</th>
                                        <th>Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            1
                                        </td>
                                        <td>
                                            <select class="form-control" name="QualityControlInformationId" id="QualityControlInformationId">
                                                <option value="">-- Vui lòng chọn --</option>
                                                <option value="c8504928-1382-4376-8088-92d605f091a8" selected>Hình ảnh sản phẩm</option>
                                                <option value="6b7c229c-6d5c-437c-826c-9ce10c5a1f0e">Kích thước tổng thể</option>
                                                <option value="b44ccd49-269e-47ce-a1bb-a9ccf82dfacb">Keo</option>
                                                <option value="f65865e5-4353-476f-b0fc-dcb1fc7f42a7">Quy cách đóng gói</option>
                                            </select>
                                        </td>
                                        <td style="width: 228px;">
                                            <input type="file" name="File" multiple="" class="form-control">
                                        </td>
                                        <td style="width: 72px;">
                                            <input type="text" name="Note" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            2
                                        </td>
                                        <td>
                                            <select class="form-control" name="QualityControlInformationId" id="QualityControlInformationId">
                                                <option value="">-- Vui lòng chọn --</option>
                                                <option value="c8504928-1382-4376-8088-92d605f091a8">Hình ảnh sản phẩm</option>
                                                <option value="6b7c229c-6d5c-437c-826c-9ce10c5a1f0e" selected>Kích thước tổng thể</option>
                                                <option value="b44ccd49-269e-47ce-a1bb-a9ccf82dfacb">Keo</option>
                                                <option value="f65865e5-4353-476f-b0fc-dcb1fc7f42a7">Quy cách đóng gói</option>
                                            </select>
                                        </td>
                                        <td style="width: 228px;">
                                            <input type="file" name="File" multiple="" class="form-control">
                                        </td>
                                        <td style="width: 72px;">
                                            <input type="text" name="Note" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="text-right">
                                            <a class="btn btn-primary btn-add-row-info"><i class="fa fa-plus" aria-hidden="true"> Thêm</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Thông tin lỗi</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <table class="table table-bordered table-responsive dataTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th>Danh sách lỗi</th>
                                        <th>Hình ảnh</th>
                                        <th>Số lượng lỗi</th>
                                        <th>Nguyên nhân</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            1
                                        </td>
                                        <td>
                                            <select class="form-control" name="CatalogCode" id="CatalogCode">
                                                <option value="">-- Vui lòng chọn --</option>
                                                <option value="HANG_DO" selected>Hàng dơ</option>
                                                <option value="SAI_QUY_CACH">Sai quy cách</option>
                                                <option value="SAI_SO_LUONG">Sai số lượng</option>
                                                <option value="LECH_MAU">Lệch màu</option>

                                            </select>
                                        </td>
                                        <td style="width: 228px;">
                                            <input type="file" name="File" multiple="" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" name="ErrorQuantity" class="form-control" value="20">
                                        </td>
                                        <td>
                                            <input type="text" name="Note" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-right">
                                            <a class="btn btn-primary btn-add-row-info"><i class="fa fa-plus" aria-hidden="true"> Thêm</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

        <div id="divModalAlertSuccess" class="alert alert-success alert-dismissable divPopupMessage" style="display: none">
            <button type="button" class="alert-close close" aria-hidden="true" data-div="divModalAlertSuccess">×</button>
            <div class="modal-alert-message">
            </div>
        </div>
        <div id="divModalAlertWarning" class="alert alert-warning alert-dismissable divPopupMessage" style="display: none">
            <button type="button" class="alert-close close" aria-hidden="true" data-div="divModalAlertWarning">×</button>
            <div class="modal-alert-message">
            </div>
        </div>

        <div class="modal-footer">
            <span class="btn btn-default pull-left" data-dismiss="modal">@LanguageResource.Btn_Close</span>
            <a class="btn bg-blue pull-right" id="btn-save" onclick="$(this).button('loading')">
                @LanguageResource.Btn_Save
            </a>
        </div>
    </div>
</div>
