@model IEnumerable<ContConfigViewModel>
@{
    string CurrentArea = ConstArea.MasterData;
    string CurrentController = ConstController.ContConfig;
}
<style>
    td {
        word-break: break-all;
        white-space: normal;
    }
</style>
<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.MaterialType)</th>
            <th>@Html.DisplayNameFor(p => p.Plant)</th>
            <th>@Html.DisplayNameFor(p => p.Formula)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.OrderIndex)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.MaterialType)</td>
                <td>@Html.DisplayFor(p => item.Plant)</td>
                <td>@Html.DisplayFor(p => item.Formula)</td>
                <td class="text-center">@Html.DisplayFor(p => item.OrderIndex)</td>
                <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
                <td class="text-center">
                    <a href="/@CurrentArea/@CurrentController/Edit/@item.ContConfigId" class="btn btn-default btn-edit" onclick="$(this).button('loading')"><i class='fa fa-pencil'></i> @LanguageResource.Btn_Edit</a>
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, LanguageResource.ContConfig, item.ContConfigId.Value)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
