@model ContConfigViewModel
@{
    ViewBag.Title = LanguageResource.ContConfig;
    string CurrentArea = ConstArea.MasterData;
    string CurrentController = ConstController.ContConfig;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@*@Html.HiddenFor(p => p.PlantRoutingCode)*@

<div class="content-header clearfix">
    <h1 class="pull-left">
        @HtmlExtensions.BackButton(CurrentArea, CurrentController)
    </h1>
    <div class="pull-right">
        @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
        @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
    </div>
</div>

<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>
        </div>
        <div class="box-body">
            <div class="form-group col-md-6">
                @Html.TooltipLabelFor(p => p.MaterialType)
                @Html.RequiredTextboxFor(p => p.MaterialType)
            </div>
            <div class="form-group col-md-6">
                @Html.TooltipLabelFor(p => p.Plant)
                @Html.RequiredTextboxFor(p => p.Plant)
            </div>
            <div class="form-group col-md-6">
                @Html.TooltipLabelFor(p => p.Formula)
                @Html.RequiredTextboxFor(p => p.Formula)
            </div>

            <div class="form-group col-md-6">
                @Html.TooltipLabelFor(p => p.OrderIndex)
                @Html.RequiredTextboxFor(p => p.OrderIndex, new { type = "number" })
            </div>

            <div class="form-group col-md-6">
                @Html.TooltipLabelFor(p => p.Actived)
                @Html.ActivedRadioButton(p => p.Actived)
            </div>
        </div>
    </div>
</div>
}

@section scripts {
    <script>
       //set event btn-save, btn-save-continue for btn-create
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");
        });
    </script>
}

