@model IEnumerable<EquimentSearchModel>
<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        @*<input type="hidden" id="StorageBinId" name="StorageBinId" value="" />*@
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title" id="modal-title">CHỌN THÔNG TIN MÁY MÓC, CHUYỀN</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped table-hover dataTable no-footer">
                <thead class="isd-table-header">
                    <tr>
                        <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                        <th class="text-center">@Html.DisplayNameFor(p => p.EquipmentCode)</th>
                        <th>@Html.DisplayNameFor(p => p.EquipmentName)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td class="text-center">@i</td>
                                    <td class="text-center">@Html.DisplayFor(p => item.EquipmentCode)</td>
                                    <td>@Html.DisplayFor(p => item.EquipmentName)</td>
                                </tr>
                            }
                        }

                    }

                </tbody>
                <tfoot></tfoot>
            </table>
            <div id="divAlertWarningTask" class="alert alert-warning alert-dismissable divPopupMessage" style="display: none">
                <button type="button" class="alert-close close" aria-hidden="true" data-div="divAlertWarning">×</button>
                <div class="alert-message">
                </div>
            </div>
            <form id="frmStorageBin">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="label-wrapper">
                                <label class="control-label">Chọn công đoạn (*)</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("StepCode", null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default float-left" data-dismiss="modal">Đóng</button>

            <button type="button" class="btn btn-primary float-right btn-print" onclick="$(this).button('loading')">In QR Code</button>
        </div>
    </div>
</div>