@*@model IEnumerable<EquipmentModel>*@
@model IEnumerable<EquimentSearchModel>
@{
    string CurrentController = ConstController.Equipment;

    string CurrentArea = ConstArea.MasterData;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.EquipmentCode)</th>
            <th>@Html.DisplayNameFor(p => p.EquipmentName)</th>
            <th>@Html.DisplayNameFor(p => p.EquipmentGroupCode)</th>
            <th>@Html.DisplayNameFor(p => p.WorkShopId)</th>
            <th>@Html.DisplayNameFor(p => p.EquipmentTypeCode)</th>
            <th style="width: 320px">@Html.DisplayNameFor(p => p.Description)</th>
            <th>@Html.DisplayNameFor(p => p.EquipmentProduction)</th>
            <th>@Html.DisplayNameFor(p => p.Unit)</th>
            @*<th>@Html.DisplayNameFor(p => p.EquipmentStatus)</th>*@
            <th class="text-center">@LanguageResource.Actions</th>
            <th class="text-center">@LanguageResource.PrintBarcode</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="text-center">@Html.DisplayFor(p => item.EquipmentCode)</td>
                    <td>@Html.DisplayFor(p => item.EquipmentName)</td>
                    <td>@Html.DisplayFor(p => item.grpCatalogText_vi)</td>
                    <td>@Html.DisplayFor(p => item.WorkShopName)</td>
                    <td>@Html.DisplayFor(p => item.typeCatalogText_vi)</td>
                    <td>
                        <div style="width: 310px; overflow: hidden; text-overflow: ellipsis;"
                             title="@Html.DisplayFor(p =>item.Description)">
                            @Html.DisplayFor(p => item.Description)
                        </div>
                    </td>
                    <td class="text-right">@Html.DisplayFor(p => item.EquipmentProduction)</td>
                    <td class="text-center">@Html.DisplayFor(p => item.Unit)</td>
                    @*<td>@Html.DisplayFor(p => item.statusCatalogText_vi)</td>*@
                    <td class="text-center">
                        @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.EquipmentId)
                        @*@HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.EquipmentName, item.EquipmentId)*@
                    </td>
                    <td class="text-center">
                        <span class="select-checkbox">
                            <input id="checkboxEquipment" name="FunctionId" type="checkbox" value="@item.EquipmentId">
                        </span>
                    </td>
                </tr>
                }
            }

        }

    </tbody>
    <tfoot></tfoot>
</table>


