@model EquipmentModel

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.MasterData_Equipment;
    string CurrentController = ConstController.Equipment;
    string CurrentArea = ConstArea.MasterData;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.EquipmentId)
    @Html.HiddenFor(p => p.EquipmentIntId)
    @Html.HiddenFor(p => p.CreateBy)
    @Html.HiddenFor(p => p.CreateTime)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.EquipmentCode)
                    @Html.TextBoxFor(p => p.EquipmentCode, new { @readonly = true, @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.EquipmentName)
                    @Html.TextBoxFor(p => p.EquipmentName, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.EquipmentGroupCode)
                    @Html.DropDownListFor(p=>p.EquipmentGroupCode, null, new { @class = "form-control with-search" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.Description)
                    @Html.TextBoxFor(p => p.Description, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.EquipmentTypeCode)
                    @Html.DropDownListFor(p=>p.EquipmentTypeCode, null, new { @class = "form-control with-search" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.WorkShopId)
                    @Html.DropDownListFor(p=>p.WorkShopId, null, new { @class = "form-control with-search" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.EquipmentProduction)
                    @Html.TextBoxFor(p => p.EquipmentProduction, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.Unit)
                    @Html.DropDownListFor(p=>p.Unit, null, new { @class = "form-control with-search" })
                </div>

                @*<div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.EquipmentStatus)
                    @Html.DropDownListFor(p=>p.EquipmentStatus, null, new { @class = "form-control with-search",id = "EquipmentStatus",name= "EquipmentStatus" })
                </div>*@
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.Actived)
                    @Html.ActivedRadioButton(p => p.Actived)
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        //set event btn-save, btn-save-continue for btn-edit
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");
        });
    </script>
}



